<div class="card-body">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <label>Area Code</label>
                    <input class="AreaCode form-control form-control-sm triggerdetail" type="text">
                </div>
                <div class="col-md-4">
                    <label>Area Name</label>
                    <input class="AreaName form-control form-control-sm triggerdetail" type="text">
                </div>
                <div class="col-md-4">
                    <label>Company</label>
                    <select class="CompanyCode CompanyName Company form-control form-control-sm triggerdetail">
                    </select>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-md-12">
                    <label>Remarks</label>
                    <textarea class="remarks form-control form-control-sm triggerdetail"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var dataSource = 'Area';
    var dataSourceIdCol = 'AreaCode';
    getOptDataForAdd();
    //var fields = $('.triggerdetail');
    //var fieldID = [];
    //for (var x in fields) {
    //    if (fields[x].className != undefined) {
    //        var y = fields[x].className.split(' ');
    //        fieldID.push(y[0]);
    //    }
    //}
    //for (var j in fieldID) {
    //    if ($('.' + fieldID[j] + '.triggerdetail')[0].tagName == 'SELECT') {
    //        var tagClasses = $('.' + fieldID[j] + '.triggerdetail')[0].className.split(' ');
    //        var optSource = tagClasses[1];
    //        var optName = tagClasses[2];
    //    }
    //}
    //getOptDataForAdd(optSource, fieldID[j], optName);
</script>