<div class="card-body">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <label>Company Code</label>
                    <input class="CompanyCode form-control form-control-sm triggerdetail" type="text" disabled>
                </div>
                <div class="col-md-6">
                    <label>Company Name</label>
                    <input class="Companyname form-control form-control-sm triggerdetail" type="text">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-md-12">
                    <label>Remarks</label>
                    <textarea class="remarks form-control form-control-sm triggerdetail" type="text"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    getSysData('Company', 'CompanyCode');
</script>