<div class="contrainer">
    <section>
        <div class="row">
            <div class="col-md-12">
                <label for="returnRemarks">Remarks</label>
                <textarea name="returnRemarks" id="returnRemarks" class="form-control form-control-sm"></textarea>
            </div>
        </div>
    </section>
</div>