<div class="contrainer">
    <section>
        <div class="row">
            <div class="col-md-12">
                <label for="approveRemarks">Remarks</label>
                <textarea name="approveRemarks" id="approveRemarks" class="form-control form-control-sm"></textarea>
            </div>
        </div>
    </section>
</div>