<div class="contrainer">
    <section>
        <div class="row">
            <div class="col-md-12">
                <label for="disapproveRemarks">Remarks</label>
                <textarea name="disapproveRemarks" id="disapproveRemarks" class="form-control form-control-sm autoCaps"></textarea>
            </div>
        </div>
    </section>
</div>