<div class="contrainer">
    <section>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2">
                        <label for="name" class="form-control form-control-sm" id="name">Name</label>
                    </div>
                    <div class="col-md-10">
                        <p class="name form-control form-control-sm form-control-border border-width-2"></p>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <label for="approveRemarks">Remarks</label>
                <textarea name="approveRemarks" id="approveRemarks" class="form-control form-control-sm"></textarea>
            </div>
        </div>
    </section>
</div>