<div class="card-body">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <label>Color Code</label>
                    <input class="ColorCode form-control form-control-sm triggerdetail" type="text">
                </div>
                <div class="col-md-6">
                    <label>Color Name</label>
                    <input class="ColorName form-control form-control-sm triggerdetail" type="text">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-md-12">
                    <label>Remarks</label>
                    <textarea class="remarks form-control form-control-sm triggerdetail"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var dataSource = 'Color';
    var dataSourceIdCol = 'ColorCode';
    getOptDataForAdd();
</script>