<div class="card-body">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <label>Crop Code</label>
                    <input class="CropCode form-control form-control-sm triggerdetail" type="text">
                </div>
                <div class="col-md-6">
                    <label>Crop Name</label>
                    <input class="CropName form-control form-control-sm triggerdetail" type="text">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-md-12">
                    <label>Remarks</label>
                    <textarea class="remarks form-control form-control-sm triggerdetail"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var dataSource = 'Crop';
    var dataSourceIdCol = 'CropCode';
    getOptDataForAdd();
</script>