<div class="card-body">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <label>Day Code</label>
                    <input class="DayCodesCode form-control form-control-sm triggerdetail" type="text">
                </div>
                <div class="col-md-4">
                    <label>Day Code Name</label>
                    <input class="DayCodesName form-control form-control-sm triggerdetail" type="text">
                </div>
                <div class="col-md-4">
                    <label>Day Code <em>FX</em></label>
                    <input class="DayCodesFx form-control form-control-sm triggerdetail" type="text">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-md-12">
                    <label>Remarks</label>
                    <textarea class="remarks form-control form-control-sm triggerdetail"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var dataSource = 'DayCodes';
    var dataSourceIdCol = 'DayCodesCode';
    getOptDataForAdd();
</script>