<div class="card-body">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <label>Landowner Code</label>
                    <input class="LandownerCode form-control form-control-sm triggerdetail" type="text" disabled>
                </div>
                <div class="col-md-4">
                    <label>First Name</label>
                    <input class="FirstName form-control form-control-sm triggerdetail" type="text">
                </div>
                <div class="col-md-4">
                    <label>Last Name</label>
                    <input class="LastName form-control form-control-sm triggerdetail" type="text">
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <label>Contact Number</label>
                    <input class="ContactNumber form-control form-control-sm triggerdetail" type="text">
                </div>
                <div class="col-md-6">
                    <label>Email Address</label>
                    <input class="Email form-control form-control-sm triggerdetail" type="text">
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <label>Address</label>
                    <textarea class="Address form-control form-control-sm triggerdetail" type="text"></textarea>
                </div>
                <div class="col-md-6">
                    <label>Remarks</label>
                    <textarea class="remarks form-control form-control-sm triggerdetail" type="text"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var dataSource = 'Landowner';
    var dataSourceIdCol = 'LandownerCode';
    getSysData(dataSource, dataSourceIdCol);
    //if ($('.status').data('status') == 0) {
    //    $('.triggerdetail').prop('disabled', 'true');
    //}
    $('.triggerdetail').on('change', function () {
        var syscol = $(this)[0].className.split(' ');
        $.ajax({
            url: apiURL('c2673537-85cf-4a28-9cbc-5dad26d9c4a9') + 'common/updateSysData',
            type: 'post',
            dataType: 'json',
            data: JSON.stringify({
                username: $("#username").val(),
                token: $("#token").val(),
                dataSource: dataSource,
                filter: dataSourceIdCol,
                selectedid: $('.selectedid').data('id'),
                syscol: syscol[0],
                syscolval: $(this).val(),
                sysapp: sysapp
            }),
            contentType: "application/json; charset=utf-8",
            success: function () {
                getSysAllData(dataSource);
            },
            error: function () {
                toastr.error('Error on Updating!');
            }
        })
    })
</script>