<div class="card-body">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <label>Land Title Code</label>
                    <input class="LandTitleCode form-control form-control-sm triggerdetail" type="text" disabled>
                </div>
                <div class="col-md-4">
                    <label>Land Title Number</label>
                    <input class="LandTitleNo form-control form-control-sm triggerdetail" type="text">
                </div>
                <div class="col-md-4">
                    <label>Landowner Code</label>
                    <select class="LandownerCode FullName Landowner form-control form-control-sm triggerdetail">
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <label>Land Address</label>
                    <textarea class="LandAddress form-control form-control-sm triggerdetail"></textarea>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <label>Barangay</label>
                    <input class="Barangay form-control form-control-sm triggerdetail" type="text">
                </div>
                <div class="col-md-3">
                    <label>Municipality/Province</label>
                    <input class="Province form-control form-control-sm triggerdetail" type="text">
                </div>
                <div class="col-md-3">
                    <label>City</label>
                    <input class="City form-control form-control-sm triggerdetail" type="text">
                </div>
                <div class="col-md-3">
                    <label>Geo-Location</label>
                    <input class="geoLocation form-control form-control-sm triggerdetail" type="text">
                </div>
            </div>
        </div>
        <div class="col-md-12">
           <div class="row">
                <div class="col-md-12">
                    <label>Remarks</label>
                    <textarea class="remarks form-control form-control-sm triggerdetail" type="text"></textarea>
                </div>
            </div>
            <div class="row" hidden>
                <div class="col-md-12">
                    <label>polygon</label>
                    <input class="polygon form-control form-control-sm triggerdetail" type="text">
                </div>
            </div>
        </div>
        <div class="col-md-12" style="margin: 20px 0px 0px 0px;">
           <div class="row">
                <label>Map</label>
                <div class="col-md-12" id="map" style="border:solid 1px; position: relative; height:483px; top: 0; bottom: 0; width: 100%;"></div>
            </div>
        </div>
    </div>
</div>
<!-- <div id="container" style="background:green; height:600px; position:relative; top:0; bottom:10; width:100%">  
<h1>MAPS</h1> 
<button onclick="myFunction()">Click me</button>
<button onclick="saveLatlng()">Save</button>
<div class="calculation-box">
<p>Click the map to draw a polygon.</p>
<div id="calculated-area"></div>
<div id="btncontainer" style="background:green;">

</div>
</div> -->
<!-- <div id="map" style="position:relative; height:100%; width:100%"></div> -->
<!-- <div id="map" style="position: relative; height:483px; top: 0; bottom: 0; width: 100%;"></div> -->
<script>
    var dataSource = 'LandownerTitle';
    var dataSourceIdCol = 'LandownerTitleCode';
   // getSysData(dataSource, dataSourceIdCol);
    getPolygon(dataSource, dataSourceIdCol);

    $('.triggerdetail').on('change', function () {
        var syscol = $(this)[0].className.split(' ');
        $.ajax({
            url: apiURL('c2673537-85cf-4a28-9cbc-5dad26d9c4a9') + 'common/updateSysData',
            type: 'post',
            dataType: 'json',
            data: JSON.stringify({
                username: $("#username").val(),
                token: $("#token").val(),
                dataSource: dataSource,
                filter: dataSourceIdCol,
                selectedid: $('.selectedid').data('id'),
                syscol: syscol[0],
                syscolval: $(this).val(),
                sysapp: sysapp,
            }),
            contentType: "application/json; charset=utf-8",
            success: function () {
                getSysAllData(dataSource);
            },
            error: function () {
                toastr.error('Error on Updating!');
            }
        })
    })

   
</script>

