<div class="card-body">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <label>MOP Code</label>
                    <input class="MOPCode form-control form-control-sm triggerdetail" type="text">
                </div>
                <div class="col-md-6">
                    <label>MOP Name</label>
                    <input class="MOPName form-control form-control-sm triggerdetail" type="text">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-md-12">
                    <label>Remarks</label>
                    <textarea class="remarks form-control form-control-sm triggerdetail"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var dataSource = 'ModeOfPayment';
    var dataSourceIdCol = 'MOPCode';
    getOptDataForAdd();
</script>