<div class="card-body">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <label>OLC Employee Code</label>
                    <input class="OLCEmpCode form-control form-control-sm triggerdetail" type="text">
                </div>
                <div class="col-md-4">
                    <label>OLC Employee Name</label>
                    <input class="OLCEmpName form-control form-control-sm triggerdetail" type="text">
                </div>
                <div class="col-md-4">
                    <label>OLC Code</label>
                    <select class="OLCCode OLCName OLC form-control form-control-sm triggerdetail">
                    </select>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-md-12">
                    <label>Remarks</label>
                    <textarea class="remarks form-control form-control-sm triggerdetail"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var dataSource = 'OLCEmp';
    var dataSourceIdCol = 'OLCEmpCode';
    getOptDataForAdd();
</script>