<div class="card-body">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-3">
                    <label>Plantation Code</label>
                    <input class="PlantationCode form-control form-control-sm triggerdetail" type="text" disabled>
                </div>
                <div class="col-md-3">
                    <label>Plantation Name</label>
                    <input class="PlantationName form-control form-control-sm triggerdetail" type="text">
                </div>
                <div class="col-md-3">
                    <label>Area</label>
                    <select class="AreaCode AreaName Area form-control form-control-sm triggerdetail">
                    </select>
                </div>
                <div class="col-md-3">
                    <label>Company</label>
                    <select class="CompanyCode CompanyName Company form-control form-control-sm triggerdetail">
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <label>Region</label>
                    <input class="region form-control form-control-sm triggerdetail" type="text">
                </div>
                <div class="col-md-4">
                    <label>Plantation Head</label>
                    <input class="plantationhead form-control form-control-sm triggerdetail" type="text">
                </div>
                <div class="col-md-4">
                    <label>Area Head</label>
                    <input class="areahead form-control form-control-sm triggerdetail" type="text">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-md-4">
                    <label>Geo Location (Long, Lat)</label>
                    <input class="geoLocation form-control form-control-sm triggerdetail" type="text">
                </div>
                <div class="col-md-8">
                    <label>Plantation Address</label>
                    <input class="plantAddress form-control form-control-sm triggerdetail" type="text">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-md-12">
                    <label>Remarks</label>
                    <textarea class="remarks form-control form-control-sm triggerdetail" type="text"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var dataSource = 'Plantation';
    var dataSourceIdCol = 'PlantationCode';
    getSysData(dataSource, dataSourceIdCol);
    //if ($('.status').data('status') == 0) {
    //    $('.triggerdetail').prop('disabled', 'true');
    //}
    $('.triggerdetail').on('change', function () {
        var syscol = $(this)[0].className.split(' ');
        $.ajax({
            url: apiURL('c2673537-85cf-4a28-9cbc-5dad26d9c4a9') + 'common/updateSysData',
            type: 'post',
            dataType: 'json',
            data: JSON.stringify({
                username: $("#username").val(),
                token: $("#token").val(),
                dataSource: dataSource,
                filter: dataSourceIdCol,
                selectedid: $('.selectedid').data('id'),
                syscol: syscol[0],
                syscolval: $(this).val(),
                sysapp: sysapp
            }),
            contentType: "application/json; charset=utf-8",
            success: function () {
                getSysAllData(dataSource);
            },
            error: function () {
                toastr.error('Error on Updating!');
            }
        })
    })
</script>