<div class="card-body">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <label>Unit Code</label>
                    <input class="UnitCode form-control form-control-sm triggerdetail" type="text">
                </div>
                <div class="col-md-6">
                    <label>Unit Name</label>
                    <input class="UnitName form-control form-control-sm triggerdetail" type="text">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-md-12">
                    <label>Remarks</label>
                    <textarea class="remarks form-control form-control-sm triggerdetail"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var dataSource = 'Unit';
    var dataSourceIdCol = 'UnitCode';
    getOptDataForAdd();
</script>