<div class="card-body">
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <label>Warehouse Code</label>
                    <input class="WarehouseCode form-control form-control-sm triggerdetail" type="text">
                </div>
                <div class="col-md-4">
                    <label>Warehouse Name</label>
                    <input class="WarehouseName form-control form-control-sm triggerdetail" type="text">
                </div>
                <div class="col-md-4">
                    <label>Area</label>
                    <select class="AreaCode AreaName Area form-control form-control-sm triggerdetail">
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <label>Warehouse Address</label>
                    <input class="WarehouseAddress form-control form-control-sm triggerdetail" type="text">
                </div>
                <div class="col-md-4">
                    <label>Contact Person</label>
                    <input class="ContactPerson form-control form-control-sm triggerdetail" type="text">
                </div>
                <div class="col-md-4">
                    <label>Contact Person Number</label>
                    <input class="ContactPersonNo form-control form-control-sm triggerdetail" type="text">
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-md-12">
                    <label>Remarks</label>
                    <textarea class="remarks form-control form-control-sm triggerdetail"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var dataSource = 'Warehouse';
    var dataSourceIdCol = 'WarehouseCode';
    getOptDataForAdd();
</script>