<section class="status-bar" data-tag="LDMSDashboard_role">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-success elevation-1"><i class="fas fa-users"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Expiring Contracts</span>
                    <span class="info-box-number activeLandowner">3</span>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-user-alt-slash"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Active Contracts</span>
                    <span class="info-box-number inactiveUser">0</span>
                </div>
            </div>
        </div>
        <!-- <div class="col-12 col-sm-12 col-md-4">
            <div class="info-box mb-3">
                <span class="info-box-icon bg-primary elevation-1"><i class="fas fa-id-badge"></i></span>
                <div class="info-box-content">
                    <span class="info-box-text">Active Domain Users</span>
                    <span class="info-box-number domainUser">6</span>
                </div>
            </div>
        </div> -->
        <div class="clearfix hidden-md-up"></div>
    </div>
</section>

<section>
    
</section>
<script src="~/Scripts/LandManagement/dashboard.js"></script>