
<!--START: LANDOWNER TITLE -->
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-lightblue">
                    <div class="card-header">
                        <h3 class="card-title">List Of Land Information</h3>
                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                            @*<button type="button" class="btn btn-tool" data-card-widget="remove">
                                    <i class="fas fa-times"></i>
                                </button>*@
                        </div>
                    </div>
                    <div class="card-body">
                        <table id="tbl_LandInformation" class="table table-bordered table-striped table-sm" style="width:100%" data-editpage="pages/landmanagement/modalpages/landinformation_update" data-addpage="pages/landmanagement/modalpages/landinformation_add">
                            <thead>
                                <tr style="text-align:center">
                                    <th class="id">Actions</th>
                                    <!-- <th class="LandInformationCode">Land Information Code</th> -->
                                    <th class="Document">Document</th>
                                    <th class="name">Fullname</th>
                                    <th class="Address">Address</th>
                                    <th class="Area">Area</th>
                                    <!-- <th class="geoLocation">Geo-Location</th> -->
                                    <th class="isactive">Status</th>
                                    <th class="modifiedby">Last Modified By</th>
                                    <th class="modifiedon">Last Modified</th>
                                </tr>
                            </thead>
                            <tbody id="tbl_Users-data">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--END: LANDOWNER TITLE -->
<script src="~/Scripts/LandManagement/landinformation.js"></script>