<section>
    <div class="container">    
        <div class="card card-lightblue">
            <div class="card-header">
                <h3 class="card-title">Representative Information</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <!-- START: REPRESENTATIVE INFORMATION -->
                    <div class="container">
                        <div class="col-md-12">
                            <!-- insert here -->
                            <div class="col-md-12">
                                <div class="row">
                                    @*<div class="col-md-4">
                                        <label>Representative Code</label>
                                        <input class="RepresentativeCode form-control form-control-sm triggerrepresentative" value="0" type="text" hidden>
                                    </div>*@
                                    <div class="col-md-3">
                                        <label>First Name</label>
                                        <input class="FirstName form-control form-control-sm triggerrepresentative" type="text" placeholder="-" autocomplete="off">
                                    </div>
                                    <div class="col-md-3">
                                        <label>Middle Name</label>
                                        <input class="MiddleName form-control form-control-sm triggerrepresentative" type="text" placeholder="(e.g [D., Doe])" autocomplete="off">
                                    </div>
                                    <div class="col-md-3">
                                        <label>Last Name</label>
                                        <input class="LastName form-control form-control-sm triggerrepresentative" type="text" placeholder="-" autocomplete="off">
                                    </div>
                                    <div class="col-md-3 form-group">
                                        <label>Gender</label>
                                        <select class="GenderCode GenderName Gender form-control form-control-sm triggerrepresentative">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        <label id="suffixLabel">Suffix</label>
                                        <input class="Suffix form-control form-control-sm triggerrepresentative" type="text" id="suffixInput" placeholder="(e.g. Jr., II)" autocomplete="off">
                                    </div>
                                    <div class="col-md-3 form-group">
                                        <label>Date of Birth:</label>

                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                <i class="far fa-calendar-alt"></i>
                                                </span>
                                            </div>
                                            <input type="text" class="Birthday form-control form-control-sm float-right triggerrepresentative" id="birthday" autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <label>Country</label>
                                        <select class="CountryCode en_short_name Country form-control form-control-sm triggerrepresentative" id="countrySelect">
                                        </select>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label>Civil Status</label>
                                            <select class="CivilStatusCode CS_Name CivilStatus form-control form-control-sm triggerrepresentative" id="civilStatus">
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label id="addressLabel">Address</label>
                                        <textarea class="Address form-control form-control-sm triggerrepresentative" placeholder="(e.g Unit/Room No., Floor, Building Name, Lot No., Phase No., House No., Street Name)" id="addressTextArea" autocomplete="off"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label id="cityLabel">Municipality/City</label>
                                        <select class="CityCode optionDescription City form-control form-control-sm triggerrepresentative" type="text" placeholder="-" id="citySelect">
                                        </select>
                                        <!-- <input class="City form-control form-control-sm triggerrepresentative" type="text" placeholder="-" id="cityInput"> -->
                                    </div>
                                    <div class="col-md-4">
                                        <label id="provinceLabel">Province</label>
                                        <select class="ProvinceCode optionDescription Province form-control form-control-sm triggerrepresentative" type="text" placeholder="-" id="provinceSelect">
                                        </select>
                                        <!-- <input class="Province form-control form-control-sm triggerrepresentative" type="text" placeholder="-" id="provinceInput" autocomplete="off"> -->
                                    </div>
                                    <div class="col-md-4">
                                        <label id="barangayLabel">Barangay</label>
                                        <input class="Barangay form-control form-control-sm triggerrepresentative" type="text" placeholder="-" id="barangayInput" autocomplete="off">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Nationality</label>
                                        <input class="Nationality form-control form-control-sm triggerrepresentative" type="text" placeholder="(e.g Filipino, American)" autocomplete="off">
                                    </div>
                                    <div class="col-md-4">
                                        <label>Contact Number</label>
                                        <input class="ContactNumber form-control form-control-sm triggerrepresentative" type="number" placeholder="(e.g 09XXXXXXXXX)" autocomplete="off">
                                    </div>
                                    <div class="col-md-4">
                                        <label>Email Address</label>
                                        <input class="Email form-control form-control-sm triggerrepresentative" type="email" placeholder="ABC@xyz.com" autocomplete="off">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label>Remarks</label>
                                        <textarea class="remarks form-control form-control-sm triggerrepresentative" placeholder="-" autocomplete="off"></textarea>
                                    </div>
                                </div>
                            </div>
                            <!-- insert here: ends here -->
                        </div>
                    </div>
                <!-- END: LANDOWNER INFORMATION -->
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</section>
<script>
    var sourceRepresentative = 'Representative';
    var dataSourceIdCol = 'RepresentativeCode';
    getOptDataForAddRepresentative();
    //START: datepicker for Birthday
    $('#birthday').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        minYear: 1901,
        maxYear: 3001,
        // autoApply: false,
        // autoUpdateInput: false,
        locale: {
            cancelLabel: 'Clear',
            format: 'MM/DD/YYYY'
        }
    });

    $('#birthday').on('apply.daterangepicker', function(ev, picker) {
    $(this).val(picker.startDate.format('MM/DD/YYYY'));
    console.log('startdate apply',$(this).val(picker.startDate.format('MM/DD/YYYY')));
    });

    $('#birthday').on('cancel.daterangepicker', function(ev, picker) {
    $(this).val('');
    });
    //END: datepicker for Birthday

    //START: Country:Select
    $('#countrySelect').change(function () {
    // Check if the selected value is not Philippines then 'hide' || Country:Select
    if ($('#countrySelect').val() != 608) {
        $('#addressLabel').hide();
        $('#addressTextArea').hide();
        $('#cityLabel').hide();
        $('#citySelect').hide();
        $('#provinceLabel').hide();
        $('#provinceSelect').hide();
        $('#barangayLabel').hide();
        $('#barangayInput').hide();
    } else {
        $('#addressLabel').show();
        $('#addressTextArea').show();
        $('#cityLabel').show();
        $('#citySelect').show();
        $('#provinceLabel').show();
        $('#provinceSelect').show();
        $('#barangayLabel').show();
        $('#barangayInput').show();
    }
    });
    //END: Country:Select

    // 
    $('input[name=radio1]').change(function () {
        if ($('input[name=radio1]:checked').val() === 'Female') {
            $("#suffixLabel").attr('disabled','disabled');
            $("#suffixInput").attr('disabled','disabled');
            // $('suffixLabel').prop('disabled', true);
            // $('suffixInput').prop('disabled', true);
        } else {
            $("#suffixLabel").removeAttr('disabled');
            $("#suffixInput").removeAttr('disabled');
            // $('suffixLabel').prop('disabled', false);
            // $('suffixInput').prop('disabled', false);
        }
    });
    // 
</script>