<div class="card-body">
    <div class="row">
        <div class="col-md-12">
            <div class="col-md-12">
            <div class="row">
                <div class="col-md-4">
                    <label>Contact Person</label>
                    <select class="LandownerCode FullName Landowner form-control form-control-sm triggerdetail">
                    </select>
                </div>
                <div class="col-md-4">
                    <label>Plantation Code</label>
                    <select class="PlantationCode PlantationName Plantation form-control form-control-sm triggerdetail">
                    </select>
                </div>
                <div class="col-md-4">
                    <label>Payment Term</label>
                    <select class="PaymentTermsCode PaymentTerms PaymentTerms form-control form-control-sm triggerdetail">
                    </select>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6 form-group">
                    <label>Start Date:</label>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                            <i class="far fa-calendar-alt"></i>
                            </span>
                        </div>
                        <input type="text" class="StartDate form-control form-control-sm float-right triggerdetail" id="startdate">
                    </div>
                </div>
                <div class="col-md-6 form-group">
                    <label>End Date:</label>

                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">
                            <i class="far fa-calendar-alt"></i>
                            </span>
                        </div>
                        <input type="text" class="EndDate form-control form-control-sm float-right triggerdetail" id="enddate">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <label>Remarks</label>
                    <textarea class="remarks form-control form-control-sm triggerdetail"></textarea>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var dataSource = 'LandownerContract';
    var dataSourceIdCol = 'LandownerContractCode';
    getOptDataForAdd();

     //Date range picker
    // $('#contractsdaterange').daterangepicker({
    //     showDropdowns: true
    // })
    //startdate
    $('#startdate').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        minYear: 1901,
        maxYear: 3001,
        // autoApply: false,
        // autoUpdateInput: false,
        locale: {
            cancelLabel: 'Clear',
            format: 'MM/DD/YYYY'
        }
    });

    $('#startdate').on('apply.daterangepicker', function(ev, picker) {
    $(this).val(picker.startDate.format('MM/DD/YYYY'));
    console.log('startdate apply',$(this).val(picker.startDate.format('MM/DD/YYYY')));
    });

    $('#startdate').on('cancel.daterangepicker', function(ev, picker) {
    $(this).val('');
    });

    //enddate
    $('#enddate').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        minYear: 1901,
        maxYear: 3001,
        // autoApply: false,
        // autoUpdateInput: false,
        locale: {
            cancelLabel: 'Clear',
            format: 'MM/DD/YYYY'
        }
    });

    $('#enddate').on('apply.daterangepicker', function(ev, picker) {
    $(this).val(picker.endDate.format('MM/DD/YYYY'));
    console.log('enddate apply',$(this).val(picker.endDate.format('MM/DD/YYYY')));
    });

    $('#enddate').on('cancel.daterangepicker', function(ev, picker) {
    $(this).val('');
    });

    console.log('Start Date',$('#startdate').val());
    console.log('End Date',$('#enddate').val());
    // console.log($('#contractsdaterange').val().split(" - "));
    //var fields = $('.triggerdetail');
    //var fieldID = [];
    //for (var x in fields) {
    //    if (fields[x].className != undefined) {
    //        var y = fields[x].className.split(' ');
    //        fieldID.push(y[0]);
    //    }
    //}
    //for (var j in fieldID) {
    //    if ($('.' + fieldID[j] + '.triggerdetail')[0].tagName == 'SELECT') {
    //        var tagClasses = $('.' + fieldID[j] + '.triggerdetail')[0].className.split(' ');
    //        var optSource = tagClasses[1];
    //        var optName = tagClasses[2];
    //    }
    //}
    //getOptDataForAdd(optSource, fieldID[j], optName);
</script>