<section>
    <div class="container-fluid">
        <div class="card card-lightblue">
            <div class="card-header">
                <h3 class="card-title">Land Information</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <!-- START: LAND INFORMATION -->
                    <div class="container">
                        <div class="col-md-12">
                            <!-- insert here -->
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Landowner Title Code</label>
                                    <input class="LandInformationCode form-control form-control-sm triggerlandinformation" type="text" disabled>
                                </div>
                                <div class="col-md-4">
                                    <label>Document Presented</label>
                                    <select class="DocumentTypeCode Description DocumentType form-control form-control-sm triggerlandinformation">
                                    </select>
                                </div>
                                <div class="col-md-4">
                                    <label>Document Number</label>
                                    <input class="DocumentNumber form-control form-control-sm triggerlandinformation" type="text" placeholder="-" autocomplete="off">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label>Lot Number</label>
                                    <input class="LotNumber form-control form-control-sm triggerlandinformation" type="text" placeholder="-"  autocomplete="off">
                                </div>
                                <div class="col-md-4">
                                    <label>Total Area<i> (sqm)</i></label>
                                    <input class="Area form-control form-control-sm triggerlandinformation" step='0.01' placeholder='0.00' type="number">
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label>Landowner/Company</label>
                                        <select class="LandownerCode FullName Landowner form-control form-control-sm triggerlandinformation select2" data-placeholder="Select Landowner" name="LandownermultipleSelect" id="LandownerMultiple">
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                               <div class="col-md-4">
                                        <label id="provinceLabel">Province</label>
                                        <select class="provinceCode provinceName Province form-control form-control-sm triggerlandinformation select2" type="text" id="provinceSelect">
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label id="cityLabel">Municipality/City</label>
                                        <select class="cityCode form-control form-control-sm triggerlandownerselect select2 provinceUpdate" type="text" id="citySelect">
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label id="barangayLabel">Barangay</label>
                                        <select class="barangayCode form-control form-control-sm triggerlandownerselect select2 provinceUpdate cityUpdate" type="text" id="barangaySelect">
                                        </select>
                                    </div>
                            </div>
                            <div class="row hideCoOwner">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label>Co-Owner</label>
                                            <textarea class="CoOwner form-control form-control-sm triggerlandinformation autoCaps" placeholder="-" autocomplete="off" id="textareaCoOwner"></textarea>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row" id="hideRemarks">
                                <div class="col-md-12">
                                    <label>Remarks</label>
                                    <textarea class="remarks form-control form-control-sm triggerlandinformation" placeholder="-"></textarea  autocomplete="off">
                                </div>
                            </div>
                            <!-- insert here: ends here -->
                        </div>
                    </div>
                <!-- END: LAND INFORMATION -->
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</section>
<script>
    var sourceLandInformation = 'LandInformation';
    var dataSourceIdCol = 'LandInformationCode';
    getSysLandInformationData(sourceLandInformation, dataSourceIdCol);

    // if ( $('.hideCoOwner').val() == '' ) {
    //     $('.hideCoOwner').hide();
    // } else {
    //     $('.hideCoOwner').show();
    // }

    $('.triggerlandinformation').on('change', function () {
        var syscol = $(this)[0].className.split(' ');
        $.ajax({
            url: apiURL('c2673537-85cf-4a28-9cbc-5dad26d9c4a9') + 'common/updateSysData',
            type: 'post',
            dataType: 'json',
            data: JSON.stringify({
                username: $("#username").val(),
                token: $("#token").val(),
                dataSource: sourceLandInformation,
                filter: dataSourceIdCol,
                selectedid: $('.selectedid').data('id'),
                syscol: syscol[0],
                syscolval: $(this).val(),
                sysapp: sysapp
            }),
            contentType: "application/json; charset=utf-8",
            success: function () {
                getSysAllData(sourceLandInformation);
            },
            error: function () {
                toastr.error('Error on Updating!');
            }
        })
    })

    $('.triggerlandownerselect').on('change', function () {
        var syscol = $(this)[0].className.split(' ');
        $.ajax({
            url: apiURL('c2673537-85cf-4a28-9cbc-5dad26d9c4a9') + 'common/updateSysData',
            type: 'post',
            dataType: 'json',
            data: JSON.stringify({
                username: $("#username").val(),
                token: $("#token").val(),
                dataSource: sourceLandInformation,
                filter: dataSourceIdCol,
                selectedid: $('.selectedid').data('id'),
                syscol: syscol[0],
                syscolval: $(this).val(),
                sysapp: sysapp
            }),
            contentType: "application/json; charset=utf-8",
            success: function () {
                getSysAllData(sourceLandInformation);
            },
            error: function () {
                toastr.error('Error on Updating!');
            }
        })
    })

    $('.DocumentTypeCode').change(function() {
    //Check if the selected value is not Philippines then 'hide' || Country:Select
    if ($('.DocumentTypeCode option:selected').val() != 3) { 
        $('#hideRemarks').hide();
    } else {
        $('#hideRemarks').show();
    } });


    //START: INITIALIZATION OF MULTIPLE SELECT CSS
    //Initialize Select2 Elements
    $('.select2').select2()

    //Initialize Select2 Elements
    $('.select2bs4').select2({
      theme: 'bootstrap4'
    })
    //END: INITIALIZATION OF MULTIPLE SELECT CSS

////////////////////////////////////////////////////////START: FETCH DATA OF PROVINCE, CITY, AND BARANGAY UPON UPDATE////////////////////////////////////////////////////////////////////////////
    $('#provinceSelect').change(function() {
        $("#barangaySelect").attr('disabled','disabled');
        //START: PARAMETER: PROVINCECODE TO FETCH CITY
            var provinceCode = $('#provinceSelect option:selected').val();
            var CITYHTML = '<option value="-" selected disabled>SELECT CITY</option>';
            // $('.provinceUpdate').html('');
            $('#citySelect').append('<option value="-">loading...</option>');
            $.ajax({
                url: apiURL('c2673537-85cf-4a28-9cbc-5dad26d9c4a9') + 'common/getCityByProvince',
                type: 'post',
                dataType: 'json',
                data: JSON.stringify({  
                    ProvinceCode: provinceCode,
                    username: $("#username").val(),
                    token: $("#token").val(),
                    sysapp: sysapp
                }),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if ( data.length !== 0 ) {
                        for (var i in data) {
                            CITYHTML += '<option value="' + data[i].cityCode + '">' + data[i].cityName + '</option>';
                        }
                        $('#citySelect').html(CITYHTML);					
                    } else {
                        // Handle the case when no data is returned
                        console.log('No city data available.');
                    }
                }
            })
        // END: PARAMETER: PROVINCECODE TO FETCH CITY
    });

    $('#citySelect').change(function() {
        $("#barangaySelect").removeAttr('disabled');
        //START: PARAMETER: CITYICODE TO FETCH BARANGAY
            var cityCode = $('#citySelect option:selected').val();
            var BRGYHTML = '<option value="-" selected disabled>SELECT BARANGAY</option>';
            // $('.cityUpdate').html('');
            $('#barangaySelect').append('<option value="-">loading...</option>');
            $.ajax({
                url: apiURL('c2673537-85cf-4a28-9cbc-5dad26d9c4a9') + 'common/getBarangayByCity',
                type: 'post',
                dataType: 'json',
                data: JSON.stringify({
                    CityCode: cityCode,
                    username: $("#username").val(),
                    token: $("#token").val(),
                    sysapp: sysapp
                }),
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    if ( data.length !== 0 ) {
                        for (var i in data) {
                            BRGYHTML += '<option value="' + data[i].barangayCode + '">' + data[i].barangayName + '</option>';
                        }
                        $('#barangaySelect').html(BRGYHTML);					
                    } else {
                        // Handle the case when no data is returned
                        console.log('No barangay data available.');
                    }    		
                }
            })
            //END:  PARAMETER: CITYICODE TO FETCH BARANGAY
            stopLoading();
    });
////////////////////////////////////////////////////////END: FETCH DATA OF PROVINCE, CITY, AND BARANGAY UPON UPDATE////////////////////////////////////////////////////////////////////////////
</script>