<section>
    <div class="container-fluid">    
        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title" id="selectType">
                Select Owner Type
                </h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <!-- START: LANDOWNER INFORMATION -->
                    <div class="container">
                        <div class="col-md-12">
                            <!-- insert here -->
                            <!--START: radio buton: SELECT OWNER TYPE -->
                            <div class="col-md-12">
                                <form id="selectownertype">
                                    <div class="form-group clearfix beforeSelect">
                                        <!-- <div class="row d-flex text-center afterSelect">
                                            <div class="col-sm-12 col-md-12 hideSelect">
                                                <h5>Select Owner Type</h5>
                                            </div>
                                        </div> -->
                                        <div class="row d-flex text-center">
                                            <div class="icheck-success d-inline col-sm-12 col-md-6 divIndividual">
                                                <input class="ownertype" type="radio" name="ownertypeRadio" id="individual" value="individual">
                                                <label for="individual">Individual</label>
                                            </div>
                                            <div class="icheck-success d-inline col-sm-12 col-md-6 divCompany">
                                                <input class="ownertype" type="radio" name="ownertypeRadio" id="company" value="company">
                                                <label for="company">Company</label>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!--END: radio buton: SELECT OWNER TYPE -->
                            <!--START: COMPANY FORM -->
                            <form id="companyValidation">
                                <div class="hidecompany">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-6">
                                                <label>Company Name</label>
                                                <input class="LastName form-control form-control-sm autoCaps triggercompany" id="companylastname" type="text" placeholder="-" autocomplete="off">
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <label>Contract Number</label>
                                                <input class="ContactNumber form-control form-control-sm triggercompany maskMobile" 
                                                id="companynumber" type="text" autocomplete="off">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 checkboxCompany">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <label>Address</label>
                                                <textarea class="Address form-control form-control-sm autoCaps triggercompany" placeholder="(e.g UNIT/ROOM NO., FLOOR, BUILDING NAME, LOT NO., PHASE NO., HOUSE NO., STREET NAME)" id="companyaddress" autocomplete="off"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 checkboxCompany">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <label>Remarks</label>
                                                <textarea class="remarks form-control form-control-sm autoCaps triggercompany" id="companyremarks" placeholder="-" autocomplete="off"></textarea>
                                            </div>
                                        </div>
                                    </div>                                      
                                </div>
                            </form>
                            <!--END: COMPANY FORM -->
                            <!--START: INDIVIDUAL FORM -->
                            <form id="individualValidation">
                                <div class="hideindividual container">
                                    <div class="col-md-12">
                                        <div class="row">
                                            @*<div class="col-md-4">
                                                <label>Landowner Code</label>
                                                <input class="LandownerCode form-control form-control-sm triggerlandowner" value="0" type="text" hidden>
                                            </div>*@
                                            <div class="col-sm-12 col-md-3">
                                                <label>First Name</label>
                                                <input class="FirstName form-control form-control-sm triggerlandowner autoCaps triggerindividual" type="text" placeholder="-" autocomplete="off">
                                            </div>
                                            <div class="col-sm-12 col-md-3">
                                                <label>Middle Name</label>
                                                <input class="MiddleName form-control form-control-sm triggerlandowner autoCaps triggerindividual" type="text" placeholder="(e.g DOE)" autocomplete="off">
                                            </div>
                                            <div class="col-sm-12 col-md-3">
                                                <label>Last Name</label>
                                                <input class="LastName form-control form-control-sm autoCaps triggerindividual" id="idvllastname" type="text" placeholder="-" autocomplete="off">
                                            </div>
                                            <div class="col-sm-12 col-md-3">
                                                <label>Suffix</label>
                                                <input class="Suffix form-control form-control-sm triggerlandowner autoCaps triggerindividual" type="text" id="idvlsuffix" placeholder="(e.g. JR., II)" autocomplete="off">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-3 form-group hideGenderCode">
                                                <label>Sex</label>
                                                <select class="GenderCode GenderName Gender form-control form-control-sm triggerlandowner select2 triggerindividual triggerselect">
                                                </select>
                                            </div>
                                            <div class="col-sm-12 col-md-3 hideBirthDate">
                                                <label>Date of Birth:</label>
                                                <input type="date" class="BirthDate form-control form-control-sm float-right triggerlandowner triggerindividual" autocomplete="off">
                                            </div>
                                            <div class="col-sm-12 col-md-3">
                                                <label>Nationality</label>
                                                <input class="Nationality form-control form-control-sm triggerlandowner autoCaps triggerindividual" type="text" placeholder="(e.g FILIPINO)" autocomplete="off">
                                            </div>
                                            <div class="col-sm-12 col-md-3">
                                                <div class="form-group hideCivilStatusCode">
                                                    <label>Civil Status</label>
                                                    <select class="CivilStatusCode CS_Name CivilStatus form-control form-control-sm triggerlandowner select2 triggerindividual triggerselect" id="civilStatus">
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <label>Address</label>
                                                <textarea class="Address form-control form-control-sm triggerlandowner autoCaps triggerindividual" placeholder="(e.g UNIT/ROOM NO., FLOOR, BUILDING NAME, LOT NO., PHASE NO., HOUSE NO., STREET NAME)" id="idvladdress" autocomplete="off"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 hideSelection">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-4">
                                                <label>Province</label>
                                                <select class="provinceCode provinceName Province form-control form-control-sm triggerlandowner select2 triggerindividual triggerselect" type="text" id="provinceSelect">
                                                </select>
                                            </div>
                                            <div class="col-sm-12 col-md-4">
                                                <label>Municipality/City</label>
                                                <select class="cityCode form-control form-control-sm select2 triggerindividual triggerselect" type="text" id="citySelect" disabled>
                                                </select>
                                            </div>
                                            <div class="col-sm-12 col-md-4">
                                                <label>Barangay</label>
                                                <select class="barangayCode form-control form-control-sm select2 triggerindividual triggerselect" type="text" id="barangaySelect" disabled>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-6">
                                                <label>Contact Number</label>
                                                <input class="ContactNumber form-control form-control-sm triggerindividual maskMobile" id="idvlcontactnumber" type="text" autocomplete="off">
                                            </div>
                                            <div class="col-sm-12 col-md-6">
                                                <label>Email Address</label>
                                                <input class="Email form-control form-control-sm triggerlandowner triggerindividual" type="email" name="email" placeholder="ABC@xyz.com" autocomplete="off">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-12">
                                                <label>Remarks</label>
                                                <textarea class="remarks form-control form-control-sm autoCaps triggerindividual" id="idvlremarks" placeholder="-" autocomplete="off"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="card-footer">
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </div> -->
                            </form>
                            <!--END: INDIVIDUAL FORM -->
                            <!-- insert here: ends here -->
                        </div>
                    </div>
                <!-- END: LANDOWNER INFORMATION -->
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</section>

<script>
    var sourceLandowner = 'Landowner';
    var dataSourceIdCol = 'LandownerCode';
    var sourceOptionSelect = 'City';
    getOptDataForAddLandowner();

/////////////////////////////////////////////////////////////////////////////START: HIDE AND DISABLE FIELDS UPON LOADING MODAL/////////////////////////////////////////////////////////////////////////////
    $('.afterSelect, .hideSelect, .hideindividual, .hidecompany').hide();
    $("#citySelect, #barangaySelect").attr('disabled','disabled');
/////////////////////////////////////////////////////////////////////////////END: HIDE AND DISABLE FIELDS UPON LOADING MODAL/////////////////////////////////////////////////////////////////////////////

/////////////////////////////////////////////////////////////////////////////START: INITIALIZATION OF MULTIPLE SELECT AND DROPWDOWN SEARCHING CSS/////////////////////////////////////////////////////////////////////////////
    //Initialize Select2 Elements
    $('.select2').select2()

    //Initialize Select2 Elements
    $('.select2bs4').select2({
      theme: 'bootstrap4'
    })
/////////////////////////////////////////////////////////////////////////////END: INITIALIZATION OF MULTIPLE SELECT AND DROPWDOWN SEARCHING CSS//////////////////////////////////////////////////////////////////////////////

/////////////////////////////////////////////////////////////////////////////START: SELECTION OF LANDOWNER | INDIVIDUAL:COMPANY/////////////////////////////////////////////////////////////////////////////

    $('.ownertype').on('change', function() {
        var selectedValue = $(this).val();
        $('.hideSelect, .afterSelect').show();

        if (selectedValue === 'individual') {
            $('.hideindividual').show();
            $('.hidecompany').hide();
            $('#selectType').text('Individual Information Form');
        } else {
            $('.hideindividual').hide();
            $('.hidecompany').show();
            $('#selectType').text('Company Information Form');
        }
    });

/////////////////////////////////////////////////////////////////////////////END: SELECTION OF LANDOWNER | INDIVIDUAL:COMPANY/////////////////////////////////////////////////////////////////////////////

/////////////////////////////////////////////////////////////////////////////START: FETCH CITY FROM SELECTED PROVINCE/////////////////////////////////////////////////////////////////////////////
    $("#provinceSelect").change(function(e) {
        $('#citySelect').append('<option value="-">loading...</option>');
        var provinceCode = $("#provinceSelect option:selected").val();
        var CITYHTML = '<option value="-" selected disabled>SELECT CITY</option>';
        $.ajax({
            url: apiURL('c2673537-85cf-4a28-9cbc-5dad26d9c4a9') + 'common/getCityByProvince',
            type: 'post',
            dataType: 'json',
            data: JSON.stringify({
                ProvinceCode: provinceCode,
                username: $("#username").val(),
                token: $("#token").val(),
                sysapp: sysapp
            }),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if ( data.length !== 0 ) {
                    for (var i in data) {
                        CITYHTML += '<option value="' + data[i].cityCode + '">' + data[i].cityName + '</option>';
                    }
                    $('#citySelect').html(CITYHTML);
                    $("#citySelect").removeAttr('disabled');					
                } else {
                    // Handle the case when no data is returned
                    console.log('No city data available.');
                }
            }
        })
    });
/////////////////////////////////////////////////////////////////////////////END: FETCH CITY FROM SELECTED PROVINCE/////////////////////////////////////////////////////////////////////////////

/////////////////////////////////////////////////////////////////////////////START: FETCH BARANGAY FROM SELECTED PROVINCE/////////////////////////////////////////////////////////////////////////////
    $("#citySelect").change(function(e) {
        $('#barangaySelect').append('<option value="-">loading...</option>');
        var cityCode = $("#citySelect option:selected").val();
        var BRGYHTML = '<option value="-" selected disabled>SELECT BARANGAY</option>';
        $.ajax({
            url: apiURL('c2673537-85cf-4a28-9cbc-5dad26d9c4a9') + 'common/getBarangayByCity',
            type: 'post',
            dataType: 'json',
            data: JSON.stringify({
                CityCode: cityCode,
                username: $("#username").val(),
                token: $("#token").val(),
                sysapp: sysapp
            }),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if ( data.length !== 0 ) {
                    if ( data.length !== 0 ) {
                        for (var i in data) {
                            BRGYHTML += '<option value="' + data[i].barangayCode + '">' + data[i].barangayName + '</option>';
                        }
                        $('#barangaySelect').html(BRGYHTML);
                        $("#barangaySelect").removeAttr('disabled');					
                    } else {
                        // Handle the case when no data is returned
                        console.log('No barangay data available.');
                    }					
                }
            }
        })
    });
/////////////////////////////////////////////////////////////////////////////END: FETCH BARANGAY FROM SELECTED PROVINCE/////////////////////////////////////////////////////////////////////////////
</script>