<div class="contariner">
    <section>
        <div class="container-fluid">    
            <div class="card card-lightblue">
                <div class="card-header">
                    <h3 class="card-title"  id="selectType">
                        Land Information
                    </h3>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <!-- START: LAND INFORMATION -->
                        <div class="container">
                            <div class="col-md-12">
                                <!-- insert here -->
                                <div class="row">
                                    <div class="col-sm-12 col-md-4">
                                        <label>Landowner Title Code</label>
                                        <p
                                            class="LandInformationCode form-control form-control-sm" readonly>
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label>Landowner/Company</label>
                                            <p
                                                class="FullName fullname form-control form-control-sm form-control-border border-width-2">
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Document Presented</label>
                                        <p
                                            class="Description form-control form-control-sm form-control-border border-width-2">
                                        </p>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Document Number</label>
                                        <p
                                            class="DocumentNumber form-control form-control-sm form-control-border border-width-2">
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Lot Number</label>
                                        <p
                                            class="LotNumber form-control form-control-sm form-control-border border-width-2">
                                        </p>
                                    </div>
                                    <div class="col-md-6">
                                        <label>Total Area<i> (sqm)</i></label>
                                        <p
                                            class="Area form-control form-control-sm form-control-border border-width-2">
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                <div class="col-md-4">
                                            <label id="provinceLabel">Province</label>
                                            <p
                                                class="provinceName form-control form-control-sm form-control-border border-width-2">
                                            </p>
                                        </div>
                                        <div class="col-md-4">
                                            <label id="cityLabel">Municipality/City</label>
                                            <p
                                                class="cityName form-control form-control-sm form-control-border border-width-2">
                                            </p>
                                        </div>
                                        <div class="col-md-4">
                                            <label id="barangayLabel">Barangay</label>
                                            <p
                                                class="barangayName form-control form-control-sm form-control-border border-width-2">
                                            </p>
                                        </div>
                                </div>
                                <div class="row hideCoOwner">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <label>Co-Owner</label>
                                                <p
                                                    class="CoOwner form-control form-control-sm form-control-border border-width-2">
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row hideRemarks">
                                    <div class="col-md-12">
                                        <label>Remarks</label>
                                        <p
                                            class="remarks form-control form-control-sm form-control-border border-width-2">
                                        </p>
                                    </div>
                                </div>
                                <!-- insert here: ends here -->
                            </div>
                        </div>
                    <!-- END: LAND INFORMATION -->
                </div>
                <!-- /.card-body -->
            </div>
        </div>
    </section>
</div>
<script>
    viewLandInfoDataFloat();
</script>



