<section>
    <div class="container-fluid">
        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title">Contract Information</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    @*<button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>*@
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <!-- START: CONTRACT INFORMATION -->
                <div class="container-fluid form">
                    <div class="col-md-12 bg-light headertext">
                        <h5>Owner Information</h5>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-4">
                            <label>Landowner</label>
                            <!-- <input type="text" class="form-control form-control-sm form-control-border border-width-2" id="viewLandowner" readonly> -->
                            <select
                                class="LandownerCode FullName Landowner form-control form-control-sm triggercontractinfo select2 LandownerData"
                                type="text" id="viewLandowner" onChange="clearSelection('.plantationClear')">
                            </select>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <label>Land Information/Document</label>
                            <select class="LandInformationCode form-control form-control-sm" type="text"
                                id="viewLandInformation" disabled>
                            </select>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <label>Plantation</label>
                            <select
                                class="username PlantationCode PlantationMapping form-control form-control-sm trigger select2 plantationClear"
                                id="plantationSelect" disabled>
                            </select>
                        </div>
                    </div>
                    <br>
                    <br>
                    <div class="row">
                        <div class="col-sm-12 col-md-2">
                            <label class="form-control form-control-sm border-0">Name :</label>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <p class="infoLandownerName form-control form-control-sm form-control-border border-width-2"></p>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <label class="form-control form-control-sm border-0">Contact Number :</label>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <p class="infoContactNumber form-control form-control-sm form-control-border border-width-2"></p>
                        </div>
                    </div>
                    <div class="row hideCoOwner">
                        <div class="col-sm-12 col-md-2">
                            <label class="form-control form-control-sm border-0">Co-Owner :</label>
                        </div>
                        <div class="col-sm-12 col-md-10">
                            <p class="infoCoOwner form-control form-control-sm form-control-border border-width-2"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-2">
                            <label class="form-control form-control-sm border-0">Address :</label>
                        </div>
                        <div class="col-sm-12 col-md-10">
                            <p class="infoAddress form-control form-control-sm form-control-border border-width-2"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-2">
                            <label class="form-control form-control-sm border-0">Lot Number :</label>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <p class="infoLotNumber form-control form-control-sm form-control-border border-width-2"></p>
                        </div>
                        <div class="col-sm-12 col-md-2">
                            <label class="form-control form-control-sm border-0">Total Area :</label>
                        </div>
                        <div class="col-sm-12 col-md-4">
                            <p class="infoTotalArea form-control form-control-sm form-control-border border-width-2"></p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 col-md-2">
                            <label class="form-control form-control-sm border-0">Company :</label>
                        </div>
                        <div class="col-sm-12 col-md-10">
                            <p class="infoCompanyName form-control form-control-sm form-control-border border-width-2"></p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <br>
                        <div class="col-md-12 bg-light headertext">
                            <h5>Representative</h5>
                        </div>
                        <div class="row">
                            <div class="col-md-12 hideRepresentative">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group clearfix">
                                                    <div class="icheck-success d-inline">
                                                        <input type="checkbox" id="isRep" class="checkRepresentative">
                                                        <label for="isRep">is the Landowner same as the Authorize Representative?</label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-12 hideRepresentativeLabel">
                                        <div class="row">
                                            <div class="col-sm-12 col-md-4">
                                                <label>Name</label>
                                                <input type="text" class="RepName form-control form-control-sm">
                                            </div>
                                            <div class="col-sm-12 col-md-4">
                                                <label>Contact Number</label>
                                                <input type="text" class="RepContactNumber form-control form-control-sm">
                                            </div>
                                            <div class="col-sm-12 col-md-4">
                                                <label>Email</label>
                                                <input type="text" class="RepEmail form-control form-control-sm">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <br>
                        <div class="col-md-12 bg-light headertext">
                            <h5>Lease Area</h5>
                        </div>
                        <div class="row flort-right">
                            <div class="col-md-6">
                                <label>Lease Contracted <i>(sqm)</i></label>
                                <input type="text"
                                    class="LandContractedArea form-control form-control-sm form-control-border border-width-2 triggercontractinfo"
                                    id="Sqm" step='0.01' min="1" max="1000000" placeholder='0.00' type="number"
                                    onkeyup=imposeMinMax(this)>
                            </div>
                            <div class="col-md-6">
                                <label>Lease Contracted <i>(has)</i></label>
                                <input type="text"
                                    class="Hectare  form-control form-control-sm form-control-border border-width-2 triggercontractinfo"
                                    id="Hectares" step='0.01' min="1" placeholder='0.00' type="number" disabled>
                            </div>
                        </div>
                            <br>
                            <br>
                            <div class="col-md-12 bg-light headertext">
                                <h5>Attachment</h5>
                            </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-12">
                                        <!-- <label for="file">Attach Document</label> -->
                                        <input id="fileUploader" name="file"
                                            class="Init_Filename form-control form-control-sm triggerdetail border-0" type="file" multiple />
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <!-- END: CONTRACT INFORMATION -->
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title">Contract Payment</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    @*<button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>*@
                </div>
            </div>
            <div class="card-body" style="overflow: auto;">
                <div class="col-md-12">
                    <div class="row">
                        <div class="card-body">
                            <!-- insert: table starts here -->
                            <div class="row">
                                <div class="col-md-4 form-group">
                                    <label>Lease Period</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="far fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                        <input type="text"
                                            class="form-control form-control-sm float-right triggercontractinfo"
                                            id="lease_period">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label>Lease Term </label>
                                    <input type="text" disabled
                                        class="terms reservationdate form-control form-control-sm float-right triggercontractinfo"
                                        id="terms">
                                </div>
                                <div class="col-md-4">
                                    <label>Years of Advance Payment</label>
                                    <input class="advance_payment form-control form-control-sm" type="number"
                                        Placeholder="Input Number of Year(s)">
                                </div>
                            </div>
                            <div class="row">
                                    <div class="col-md-4">
                                    <label>Advance Payment Amount</label>
                                        <input class="advance_payment_amount maskAmount form-control form-control-sm float-right triggercontractinfo " >
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label> Start of Payment:</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="far fa-calendar-alt"></i>
                                                </span>
                                            </div>
                                            <input type="text"
                                                class="start_of_payment reservationdate form-control form-control-sm float-right triggercontractinfo"
                                                id="reservationdate">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label>Payment Terms</label>
                                    <select
                                        class="PaymentTermsCode PaymentTerms PaymentTerms form-control form-control-sm triggercontractinfo"
                                        type="text">
                                    </select>
                                </div>
                            </div>
                            <div class="row">
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input hidden type="text" id="StartDate">
                                    <input hidden type="text" id="EndDate">
                                    <input hidden type="text" id="LandContractCode">
                                </div>
                            </div>
                            <div class="row">
                                <!-- insert table start -->
                            <div class="col-md-12">
                                <div class="row" style="overflow: auto;">
                                    <label for="Escalation">Generate Escalation</label>
                                    <table id="tbl_Escalation" class="table table-bordered table-striped table-sm"
                                        style="width:100%">
                                        <thead>
                                            <tr style="text-align:center">
                                                <!-- <th hidden class="Payment_date">Payment_date</th> -->
                                                <th class="date_of_payment">Date</th>
                                                <th class="years">Years</th>
                                                <th class="Rate">Rate</th>
                                                <th class="Num_of_has">Hectares</th>
                                                <th class="Rate_per_year">Rate per year</th>
                                                <th class="Total_rate">Total Rate</th>
                                                <th class="deleteRow">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbl_Users-data">
                                        </tbody>
                                    </table>
                                    <tfoot>
                                        <div class="col-md-12">
                                            <button type="button" class="btn btn-success" id="addRow">Add Row</button>
                                        </div>
                                    </tfoot>
                                </div>
                            </div>
                            <!-- insert table end -->
                            </div>

                            <div class="row">
                                <div class="col-md-12" style="margin-top: 20px;">
                                 <button type="button"  class="view btn btn-success" onclick="generatePaymentSched()"> View Payment Schedule </button>
                                </div>
                            </div>
                             <div class="row">
                                <div class="col-md-12">
                                    <!-- insert table start -->
                                    <div class="col-md-12">
                                        <div class="row" style="overflow: auto;">
                                            <div class="card-body">
                                                <table id="tbl_ContractTerm" class="table table-bordered table-striped table-sm"
                                                    style="width:100%" data-editpage="pages/masterdata/modalpages/area_update"
                                                    data-addpage="pages/masterdata/modalpages/area_add">
                                                    <thead>
                                                        <tr style="text-align:center">
                                                            <!-- <th hidden class="id">Term</th> -->
                                                            <th class="Payment_date">Payment Schedule</th>
                                                            <th class="remarks">Status</th>
                                                            <th class="amount">Rate/Amount</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody id="tbl_Users-data">
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- insert table end -->
                                </div>
                            </div>
                            
                            <!-- <div class="container">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <table id="tbl_summary" class="table table-bordered table-striped table-sm"
                                                style="width:100%">
                                                <thead>
                                                    <tr style="text-align:center">
                                                        
                                                        <th class="">Start Term</th>
                                                        <th class="">End Term</th>
                                                        <th class="Num_of_has">Hectares</th>
                                                        <th class="Rate_per_year">Payment Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td><span class="start_of_payment"></span></td>
                                                        <td><span class="endlease"></span></td>
                                                        <td><span class="hectares"></span></td>
                                                        <td><span class="Payment_Amount"></span></td>
                                                    </tr>
                                                </tbody>
                                                <tfoot>
                                                    <div class="col-md-12">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <label class="labelwidth">Total Rental:</label>
                                                                <span class="Total_rental"></span>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <label class="labelwidth">Advance Payment:</label>
                                                                <input class="advance_payment_amount maskAmount" style="border:1px solid #ced4da">
                                                            </div>
                                                            <div class="col-md-12">
                                                                <label class="labelwidth">Remaining Rental:</label>
                                                                <span class="Remaining_rental"></span>
                                                            </div>
                                                            <div class="col-md-12">
                                                                <label class="dividedyrs labelwidth" for="divided"></label>
                                                                <input class="yrsdivided" style="border:1px solid #ced4da">
                                                            </div>
                                                            <div class="col-md-12">
                                                                <label class="labelwidth">Payment Amount:</label>
                                                                <span class="Payment_Amount"></span>
                                                            </div>
                                                              <div class="col-md-12">
                                                                <label class="labelwidth">Rental Start:</label>
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                                </tfoot>
                                            </table>
                                            <div class="col-md-12">
                                                
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="card-footer">
                
            </div> -->
        </div>
    </div>
</section>
<script>
    var sourceContract = 'ContractMain';
    var dataSourceIdCol = 'LandContractCode';
    var dataforsaving = [];
    var date_term = [];
    var LOContact = '';
    var LOName = '';
    var LOEmail = '';
    getOptDataForAddContractInfo();
    initDataTablesContract();
    // initDataTablesEscalation();
    getOptDataForPlantation();
    $('.hideCoOwner').hide();
    // $('.hideRepresentativeLabel').hide();
    // $('.view').hide();
    $('.yrsdivided').hide();
    /////////////////////////////////////////////////////////////////////////////START: LEASE PERIOD/////////////////////////////////////////////////////////////////////////////
    $('#lease_period').daterangepicker({
        showDropdowns: true,
        minYear: 1950,
        maxYear: 2500,
        showAnim: 'slideDown',
        dateFormat: 'dd/mm/yyyy'

    });
    $('#lease_period').on('apply.daterangepicker', function () {
        var lease_period = $('#lease_period').val().split(' - ');
        var start_lease = lease_period[0];
        var end_lease = lease_period[1];
        var start = new Date(start_lease);
        var end = new Date(end_lease);
        console.log(start_lease, end_lease)
        var diff = new Date(end - start);
        var days = diff / 1000 / 60 / 60 / 24;
        var years = parseInt(days / 365);
        $('#terms').val(years);
    });
    /////////////////////////////////////////////////////////////////////////////END: LEASE PERIOD/////////////////////////////////////////////////////////////////////////////

    /////////////////////////////////////////////////////////////////////////////START: START OF PAYMENT DATE QUERY/////////////////////////////////////////////////////////////////////////////
    $('#reservationdate').daterangepicker({
        singleDatePicker: true,
        showDropdowns: true,
        minYear: 1950,
        maxYear: 2500,
        showAnim: 'slideDown',
        locale: {
            cancelLabel: 'Clear',
            format: 'MM/DD/YYYY'
        }
    });

    $('#reservationdate').on('apply.daterangepicker', function (ev, picker) {
        $(this).val(picker.startDate.format('MM/DD/YYYY'));
        console.log('reservationdate apply', $(this).val(picker.startDate.format('MM/DD/YYYY')));
    });

    $('#reservationdate').on('cancel.daterangepicker', function (ev, picker) {
        $(this).val('');
    });
    /////////////////////////////////////////////////////////////////////////////END: START OF PAYMENT DATE QUERY/////////////////////////////////////////////////////////////////////////////

    /////////////////////////////////////////////////////////////////////////////START: GENERATE PAYMENT SCHEDULE/////////////////////////////////////////////////////////////////////////////
    function generatePaymentSched() {
        $('.yrsdivided').prop('disabled',true);
        $('.advance_payment_amount').prop('disabled',true);
        $('.rate').prop('disabled',true);
        var lease_period = $('#lease_period').val().split(' - ');
        var start_lease = lease_period[0];
        var end_lease = lease_period[1];
        var inputDataCollection = {};
        inputDataCollection['username'] = $("#username").val();
        inputDataCollection['token'] = $("#token").val();
        inputDataCollection['sysapp'] = sysapp;
        inputDataCollection['start_of_payment'] = $(".start_of_payment").val();
        inputDataCollection['advance_payment'] = $(".advance_payment").val();
        inputDataCollection['PaymentTerms'] = $(".PaymentTermsCode").val();
        inputDataCollection['start_lease'] = start_lease;
        inputDataCollection['end_lease'] = end_lease;
        inputDataCollection['advance_payment_amount'] = $(".advance_payment_amount").val();
        inputDataCollection['Payment_Amount'] = $('.Payment_Amount').val();
        console.log(inputDataCollection);
        $.ajax({
            url: apiURL('c2673537-85cf-4a28-9cbc-5dad26d9c4a9') + 'FMSmain/generate',
            type: 'post',
            dataType: 'json',
            data: JSON.stringify(inputDataCollection),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $('#tbl_ContractTerm').DataTable().clear().draw();
                var id = 0;
                var tablerow = [];
                //landcontractcode   
                $('#LandContractCode').val(data[0].LandContractCode);
                $('.total_contract_amount').val(data[0].Amount);
                for (var i in data) {
                    var tablearr = [];
                    data[i].id = id++;
                    // tablearr.push('<input type="text" style="width: 100%;border:1px;" hidden  class="date updatedcell " data-rowid="' + data[i].id + '" data-colid="Payment_date" value="' + moment(data[i].Payment_date ).format('MM/DD/YYYY') + '">');
                    tablearr.push('<input type="text" style="width: 100%;border:1px;" disabled  class="date_end updatedcell " data-rowid="' + data[i].id + '" data-colid="Payment_date_end" data-payment_date="' + data[i].Payment_date + '" value="' + data[i].date_of_payment + '">');
                    tablearr.push(data[i].remarks);
                    console.log(data[i].remarks == 'Paid');
                    if (data[i].remarks == 'Advance Payment Paid') {
                        tablearr.push('<input type="text" disabled style="width: 100%;border:1px; " id="amountNew" class="amount updatedcell " data-rowid="' + data[i].id + '" data-colid="amount" >');
                    } else {
                        tablearr.push('<input type="text" disabled style="width: 100%;border:1px; " id="amountNew" class="amount updatedcell unpaid" data-rowid="' + data[i].id + '" data-colid="amount" >');
                    }
                    // tablearr.push('<input type="text" style="width: 100%;border:1px;" disabled  class="status updatedcell " data-rowid="' + data[i].id + '" data-colid="status" value="' + data[i].status + '">');
                    tablerow.push(tablearr);
                }
                $("#tbl_ContractTerm").DataTable().rows.add(tablerow).draw();
            }
        });
    }
    function generateEscalation() {
        $('.yrsdivided').prop('disabled',false);
        $('.advance_payment_amount').prop('disabled',false);
        $('.Total_rental').text(''); 
        $('.advance_payment_amount').val(''); 
        $('.Remaining_rental').text(''); 
        $('.yrsdivided').val(''); 
        $('.Payment_Amount').text('');
        $('.view').show();
        var lease_period = $('#lease_period').val().split(' - ');
        var start_lease = lease_period[0];
        var end_lease = lease_period[1];
        var inputDataCollection = {};
        inputDataCollection['username'] = $("#username").val();
        inputDataCollection['token'] = $("#token").val();
        inputDataCollection['sysapp'] = sysapp;
        inputDataCollection['start_of_payment'] = $(".start_of_payment").val();
        inputDataCollection['advance_payment'] = $(".advance_payment").val();
        inputDataCollection['PaymentTerms'] = $(".PaymentTermsCode").val();
        inputDataCollection['start_lease'] = start_lease;
        inputDataCollection['end_lease'] = end_lease;
        inputDataCollection['advance_payment_amount'] = $(".advance_payment_amount").val();
        inputDataCollection['Num_of_has'] = $('#Hectares').val();
        console.log(inputDataCollection);
        $.ajax({
            url: apiURL('c2673537-85cf-4a28-9cbc-5dad26d9c4a9') + 'FMSmain/generateEscalation',
            type: 'post',
            dataType: 'json',
            data: JSON.stringify(inputDataCollection),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                $('#tbl_Escalation').DataTable().clear().draw();
                $('#tbl_ContractTerm').DataTable().clear().draw();
                var id = 0;
                var tablerow = [];
                //landcontractcode   
                $('#LandContractCode').val(data[0].LandContractCode);
                $('.total_contract_amount').val(data[0].Amount);
                for (var i in data) {
                    var tablearr = [];
                    data[i].id = id++;
                    tablearr.push('<input type="text" style="width: 100%;border:1px;" disabled  class="StartTerm updatedcell " data-rowid="' + data[i].id + '" data-colid="startterm" data-startterm="' + data[i].StartTerm + '" value="' + data[i].date_of_payment + '">');
                    tablearr.push('<input type="text"  style="width:100%; border:1px solid #ced4da" " id="amountNew" class="rate maskAmount updatedcell " data-rowid="' + data[i].id + '" data-colid="rate" value="' + data[i].Rate + '">');
                    tablearr.push('<input disabled type="text" style="border:none; text-align:center;" class="Num_of_has" data-rowid="' + data[i].id + '" data-colid="Num_of_has" value="' + data[i].Num_of_has + '">');
                    tablearr.push('<input disabled type="text" style="border:none; text-align:center;" id="rateperyear" data-rowid="' + data[i].id + '" data-colid="Rate_per_year" >');
                    tablearr.push('<input disabled type="text" style="border:none; text-align:center;"  data-rowid="' + data[i].id + '" data-colid="Total_rate" >');
                    tablerow.push(tablearr);
                }
                $("#tbl_Escalation").DataTable().rows.add(tablerow).draw();
            }
        });
    }
    /////////////////////////////////////////////////////////////////////////////END: GENERATE PAYMENT SCHEDULE/////////////////////////////////////////////////////////////////////////////

    /////////////////////////////////////////////////////////////////////////////START: INITIALIZE CONTRACT PAYMENT TABLE///////////////////////////////////////////////////////////////////
    function initDataTablesContract() {
        var table = $('#tbl_ContractTerm').DataTable({
            language: {
                sSearch: "",
                searchPlaceholder: "Search records"
            },
            selected: true,
            paging: false,
            lengthChange: false,
            searching: false,
            ordering: true,
            info: false,
            autoWidth: false,
            responsive: true,
            lengthMenu: [
                [10, 25, 50, 100],
                ['10 rows', '25 rows', '50 rows', '100 rows']
            ],

        }).buttons().container().appendTo('#tbl_ContractTerm' + '_wrapper .col-md-6:eq(0)');
        $('#tbl_ContractTerm' + '_paginate').css('font-size', 'smaller').css('float', 'right');
        $('#tbl_ContractTerm' + '_filter').css('float', 'right');
    }

    function initDataTablesEscalation() {
        var table = $('#tbl_Escalation').DataTable({
            language: {
                sSearch: "",
                searchPlaceholder: "Search records"
            },
            selected: true,
            paging: false,
            lengthChange: false,
            searching: false,
            ordering: true,
            info: false,
            autoWidth: false,
            responsive: true,
            lengthMenu: [
                [10, 25, 50, 100],
                ['10 rows', '25 rows', '50 rows', '100 rows']
            ],

        }).buttons().container().appendTo('#tbl_Escalation' + '_wrapper .col-md-6:eq(0)');
        $('#tbl_Escalation' + '_paginate').css('font-size', 'smaller').css('float', 'right');
        $('#tbl_Escalation' + '_filter').css('float', 'right');
    }
    $('#tbl_Escalation').on('click', '.lease', function () {
        //    var table = $('#tbl_Escalation').DataTable();
        console.log($(this).data('rowid'));
        console.log(dataforsaving);
        // console.log($(this).data('rowid'));
        if (jQuery.inArray(($(this).data('rowid')), dataforsaving) == -1) {
            // console.log(jQuery.inArray($(this).data('rowid'), dataforsaving == 1));
            dataforsaving.push($(this).data('rowid'));
        }
       
    });
  

    $('#tbl_Escalation').on('change', '.updatedcell', function () {
        // var table = $('#tbl_Escalation').DataTable();
        console.log($(this).data('rowid'));
        console.log(dataforsaving);
        // console.log($(this).data('rowid'));
        if (jQuery.inArray(($(this).data('rowid')), dataforsaving) == -1) {
            // console.log(jQuery.inArray($(this).data('rowid'), dataforsaving == 1));
            dataforsaving.push($(this).data('rowid'));
        }
        // var nums = [];
        // var sum = 0;
        // var total = 0;
        // var total_rate = 0;
        // var totals = 0;
        // var remaining_rental = 0;
        // var Payment_Amount = 0;
    //     for (const x in dataforsaving) {
    //         colval = $('[data-rowid=' + dataforsaving[x] + '][data-colid="rate"]').val().replace(/,/g, '');

    //         total = colval * $('[data-rowid=' + dataforsaving[x] + '][data-colid="Num_of_has"]').val();
    //         console.log(total.toLocaleString())
    //         $('[data-rowid=' + dataforsaving[x] + '][data-colid="Rate_per_year"]').val(total.toLocaleString());
    //         total_rate = 5 * total.toFixed(2);
    //         $('[data-rowid=' + dataforsaving[x] + '][data-colid="Total_rate"]').val(total_rate.toLocaleString());
    //         console.log();
    //         sum += total_rate;
    //     }
    //     $('.Total_rental').val(sum);
    //     $('.Total_rental').text(sum.toLocaleString('en-US'));
    //    $('.advance_payment_amount').keyup(function () {
    //         if($('.advance_payment_amount').val() == 0)
    //         {
    //             $('.Remaining_rental').text('0');
    //         }
    //         else
    //         {
    //             remaining_rental = parseFloat($('.Total_rental').val()) - parseFloat($('.advance_payment_amount').val().replace(/,/g, ''));
    //             $('.Remaining_rental').val(remaining_rental.toFixed(2));
    //             $('.Remaining_rental').text(remaining_rental.toLocaleString('en-US'));
    //         }
    //     });
        // $('.yrsdivided').keyup(function () {
        //     if($('.yrsdivided').val() == '' || $('.yrsdivided').val() == 0)
        //     {
        //         $('.Payment_Amount').text('0');
        //         $('.Payment_Amount').val(0);
        //     }
        //     else
        //     {
        //         Payment_Amount = parseFloat($('.Remaining_rental').val()) / parseFloat($('.yrsdivided').val());
        //         $('.Payment_Amount').val(Payment_Amount.toLocaleString('en-US'));
        //         $('.Payment_Amount').text(Payment_Amount.toLocaleString('en-US'));
        //     }
            
        //     $('.lease_period').val();
        //     var lease_period = $('#lease_period').val().split(' - ');
        //     var end_lease = lease_period[1];
        //     var start_of_payment = $('.start_of_payment').val();
        //     var has = $('#Hectares').val();
        //     var payment_amount = $('.Payment_Amount').val();
        //     $('.endlease').text(end_lease);
        //     $('.start_of_payment').text(start_of_payment.toString());
        //     $('.hectares').text(has.toString());
        //     $('.Payment_Amount').text(payment_amount.toString());
        // });
    });
    // $('.PaymentTermsCode').change(function () {
    //     // Get the value of the selected option
    //     var selectedValue = $(this).find('option:selected').text();
        
    //     if (selectedValue == 'Monthly') {
    //         $('.yrsdivided').show();
    //         $('.dividedyrs').show();
    //         $("label[for='divided']").text("Divided by Months:");
    //     } else if (selectedValue == 'Annual') {
    //         $("label[for='divided']").text("Divided by Years:");
    //         $('.dividedyrs').show();
    //         $('.yrsdivided').show();
    //     } else {
    //         $("label[for='divided']").text("Divided by 5 Years:");
    //         $('.dividedyrs').show();
    //         $('.yrsdivided').show();
    //     }
    // });

    var rowId = 0;
    var total_years = 0;
    $("#addRow").on("click", function () {
        console.log(total_years);
        var rowCount = $('#tbl_Escalation tr').length - 1;
        if ($('#terms').val() <= total_years || $('#terms').val() == '') {
            toastr.error("Bawal Mu Sobra");
    
        } else {

            var newRow = $('<tr>').attr("id", rowId);
            var lease_period = $('#lease_period').val().split(' - ');
            rowId++;
            // newRow.append($('<td><input type="text" style="width: 100%;border:1px;"  class="StartTerm updatedcell " data-rowid="' + rowId + '" data-colid="startterm"  >'));
            newRow.append($('<td><div class="input-group"><div class="input-group-prepend"><span class="input-group-text"><i class="far fa-calendar-alt"></i></span></div><input type="text" id="date'+ rowId +'" class="StartTerm lease form-control form-control-sm float-right" data-rowid="' + rowId + '" data-colid="startterm"></div>'));
            newRow.append($('<td><input type="text" disabled style="border:none; text-align:center; width:50px; background-color:#e9ecef;"  class="years" data-rowid="' + rowId + '" data-colid="yrs" >'));
            newRow.append($('<td><input type="text" style="border:none; text-align:center;" " id="amountNew" class="rate maskAmount updatedcell " data-rowid="' + rowId + '" data-colid="rate">'));
            newRow.append($('<td><input type="text" style="border:none; text-align:center;" class="Num_of_has" data-rowid="' + rowId + '" data-colid="Num_of_has" value="'+ $('#Hectares').val() +'" >'));
            // newRow.append($('<td><input type="text" style="border:none; text-align:center;" id="rateperyear" data-rowid="' + rowId + '" data-colid="Rate_per_year" '));
            newRow.append($('<td><input type="text" style="border:none; text-align:center;" id="rateperyear" data-rowid="' + rowId + '" data-colid="Rate_per_year">'));
            newRow.append($('<td><input type="text" style="border:none; text-align:center;"  data-rowid="' + rowId + '" data-colid="Total_rate" >'));
            newRow.append($('<td><button class="deleteRow updatedcell btn btn-danger" data-rowid="' + rowId + '" data-colid="delete"><i class="fas fa-trash"></i></button>'));
            $('#tbl_Escalation tbody').append(newRow);
                // var tablerow = [];
                // var tablearr = [];
            
                // tablearr.push('<div class="input-group"><div class="input-group-prepend"><span class="input-group-text"><i class="far fa-calendar-alt"></i></span></div><input type="text" id="date'+ rowId +'" class="StartTerm lease form-control form-control-sm float-right" data-rowid="' + rowId + '" data-colid="startterm"></div>');
                // tablearr.push('<input type="text" disabled style="border:none; text-align:center; width:50px; background-color:#e9ecef;"  class="years" data-rowid="' + rowId + '" data-colid="yrs" >');
                // tablearr.push('<input type="text" style="border:none; text-align:center;" " id="amountNew" class="rate maskAmount updatedcell " data-rowid="' + rowId + '" data-colid="rate">');
                // tablearr.push('<input type="text" style="border:none; text-align:center;" class="Num_of_has" data-rowid="' + rowId + '" data-colid="Num_of_has" >');
                // tablearr.push('<input type="text" style="border:none; text-align:center;" id="rateperyear" data-rowid="' + rowId + '" data-colid="Rate_per_year">');
                // tablearr.push('<td><input type="text" style="border:none; text-align:center;"  data-rowid="' + rowId + '" data-colid="Total_rate" >');
                // tablearr.push('<button class="deleteRow updatedcell btn btn-danger" data-rowid="' + rowId + '" data-colid="delete"><i class="fas fa-trash"></i></button>');
                // tablerow.push(tablearr);
                // $("#tbl_Escalation").DataTable().rows.add(tablerow).draw();
            var min_date = '';
            if(rowId >= 2)
            {
                
                min_date = date[1];
                max_date = lease_period[1];
                console.log('true',max_date);
                
            }
            else
            {
                min_date = lease_period[0];
                max_date = lease_period[1];
                console.log('false',max_date);
            }
            

            $('#date'+ rowId +'').daterangepicker({
                showDropdowns: true,
                minYear: 1950,
                maxYear: 2500,
                showAnim: 'slideDown',
                selected: true,
                paging: false,
                lengthChange: false,
                searching: false,
                ordering: false,
                info: false,
                autoWidth: false,
                responsive: true,
                dateFormat: 'dd/mm/yyyy',
                maxDate:  max_date,
                minDate:  min_date
                // endDate:max_date,
                // startDate:min_date
                
            });

        }
    });
    
     $('#tbl_Escalation').on('apply.daterangepicker','.lease', function() {
       
        // for (const x in dataforsaving) {
            console.log($('#date'+  $(this).data("rowid") +'').val());
            // date_term = $('[data-rowid="' + $(this).data("rowid") + '"][data-colid="startterm"]').val().split(' - ');
            date = $('#date'+  $(this).data("rowid")+'').val().split(' - ');
            
            var start_term = date[0];
            var end_term = date[1];
            var start = new Date(start_term);
            var end = new Date(end_term);
            var diff = new Date(end - start);
            var days = diff / 1000 / 60 / 60 / 24;
            var years = parseInt(days / 365);
            $('[data-rowid="' + $(this).data("rowid") + '"][data-colid="yrs"]').val(years);
        // }  
            total_years += parseInt($('[data-rowid="' + $(this).data("rowid") + '"][data-colid="yrs"]').val());
            console.log(date,end_term);
    });

    $('#tbl_Escalation').on('click','.deleteRow', function(){
        var table = $('#tbl_Escalation').DataTable();
        console.log($(this).data("rowid"));
        total_years -= $('[data-rowid="' + $(this).data("rowid") + '"][data-colid="yrs"]').val();
        $(this).closest('tr').remove();
        rowId--;
        console.log( $('#date'+ rowId +'').val());
        console.log($(this).data("rowid"));
        date = $('#date'+  rowId +'').val().split(' - ');
            
            var start_term = date[0];
            var end_term = date[1];
            console.log(end_term,date);


    });
    /////////////////////////////////////////////////////////////////////////////END: INITIALIZE CONTRACT PAYMENT TABLE/////////////////////////////////////////////////////////////////////////////

    /////////////////////////////////////////////////////////////////////////////START: SAVE UPDATE DATA/////////////////////////////////////////////////////////////////////////////
    function saveupdateddata() {
        for (var x in dataforsaving) {
            console.log($('[data-rowid=' + dataforsaving[x] + '][data-colid="Payment_date"]').data());
            $.ajax({
                url: apiURL('c2673537-85cf-4a28-9cbc-5dad26d9c4a9') + 'FMSmain/saveAmount',
                type: 'post',
                dataType: 'json',
                data: JSON.stringify({
                    LandContractCode: $('#LandContractCode').val(), // add contract_code value or landinformation code
                    // LandInformationCode:,
                    amount: $('[data-rowid=' + dataforsaving[x] + '][data-colid="amount"]').val(),
                    date: $('[data-rowid=' + dataforsaving[x] + '][data-colid="Payment_date_end"]')
                        .data('payment_date'),
                    username: $("#username").val(),
                    token: $("#token").val(),
                    sysapp: sysapp
                }),
                contentType: "application/json; charset=utf-8",
                success: function (data) {

                }
            })
        }
        // toastr.success('Amount Saved!');
    }

    
    /////////////////////////////////////////////////////////////////////////////END: SAVE UPDATE DATA///////////////////////////////////////////////////////////////////////////////////

    /////////////////////////////////////////////////////////////////////////////START: VIEW LAND INFORMATION OF SPECIFIED LANDOWNER/////////////////////////////////////////////////////////////////////////////
    $(".LandownerCode").change(function (e) {
        $("#viewLandInformation").removeAttr('disabled');
        $('#viewLandInformation option:selected').val('');
        $('#viewLotNumber').text('');
        $('#viewCoOwner').val('');
        $('#viewProvince').text('');
        $('#viewCity').text('');
        $('#viewBarangay').text('');
        $('#viewArea').text('');
        $('#CompanyCode').text('');

        var landowner = $(".LandownerCode option:selected").val();
        var LTHTML = '<option value="-" selected disabled>-</option>';
        $.ajax({
            url: apiURL('c2673537-85cf-4a28-9cbc-5dad26d9c4a9') + 'FMSmain/getSelectedContractInfoData',
            type: 'post',
            dataType: 'json',
            data: JSON.stringify({
                LandownerCode: landowner,
                username: $("#username").val(),
                token: $("#token").val(),
                sysapp: sysapp
            }),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data) {
                    $('#viewLandInformation').select2();
                    $('#viewLandInformation').html('');
                    for (var i in data) {
                        LTHTML += '<option value="' + data[i].LandInformationCode + '">' + data[i]
                            .Description + ' - (' + data[i].DocumentNumber + ')' + '</option>';
                    }
                    $('#viewLandInformation').html(LTHTML);
                } else {
                    toastr.error('Error fetching Land Information!');
                }
            }
        })
    });
    /////////////////////////////////////////////////////////////////////////////END: VIEW LAND INFORMATION OF SPECIFIED LANDOWNER/////////////////////////////////////////////////////////////////////////////

    /////////////////////////////////////////////////////////////////////////////START: VIEW LAND INFORMATION OF SPECIFIED LANDOWNER/////////////////////////////////////////////////////////////////////////////
    $("#viewLandInformation").change(function (e) {
        $("#plantationSelect").removeAttr('disabled');
        $("#repTextArea").removeAttr('disabled');
        $("#Sqm").removeAttr('disabled');
        // $("#viewCoOwner").removeAttr('disabled');
        var landinformationcode = $("#viewLandInformation option:selected").val();
        $.ajax({
            url: apiURL('c2673537-85cf-4a28-9cbc-5dad26d9c4a9') + 'FMSmain/viewLandInformationSelected',
            type: 'post',
            dataType: 'json',
            data: JSON.stringify({
                LandInformationCode: landinformationcode,
                username: $("#username").val(),
                token: $("#token").val(),
                sysapp: sysapp
            }),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                console.log('Land information data', data);
                if (data) {
                    LandInformation = {
                        LIContact: data.ContactNumber,
                        LIName: data.name,
                        LIEmail: data.Email,
                        LILotNumber: data.LotNumber,
                        LIProvince: data.provinceName,
                        LICityName: data.cityName,
                        LIBarangayName: data.barangayName,
                        LIArea: data.Area,
                        LIAvailableArea: data.availableArea,
                        LICoOwner: data.CoOwner,
                        LIFullname: data.Fullname
                    };

                    if (data.WithCoOwner == true) {
                        $('.hideCoOwner').show();
                        $('.infoLandownerName').text(LandInformation.LIFullname);
                        $('.infoAddress').text(LandInformation.LIProvince + ', ' + LandInformation.LICityName + ', ' +  LandInformation.LIBarangayName);
                        // $('#viewWithCoOwner').text(', ET. AL.');
                    } else {
                        $('.hideCoOwner').hide();
                        $('.infoLandownerName').text(LandInformation.LIFullname);
                        $('.infoAddress').text(LandInformation.LIProvince + ', ' + LandInformation.LICityName + ', ' +  LandInformation.LIBarangayName);
                    }

                    $('.infoLotNumber').text(LandInformation.LILotNumber);
                    $('.infoTotalArea').text(LandInformation.LIArea);
                    $('.infoCoOwner').text(LandInformation.LICoOwner);
                } else {
                    console.log('No Land Information data available.');
                }
            }
        })
    });
    /////////////////////////////////////////////////////////////////////////////END: VIEW LAND INFORMATION OF SPECIFIED LANDOWNER/////////////////////////////////////////////////////////////////////////////
    //END

    //START:
    $("#plantationSelect").change(function (e) {
        $('.infoCompanyName').text($("#plantationSelect :selected").val());
    });
    //END:

    /////////////////////////////////////////////////////////////////////////////START: MINIMUM INPUT OF AREA TO BE CONTRACTED/////////////////////////////////////////////////////////////////////////////
    function imposeMinMax(input) {
        if (input.value != "") {
            if (parseFloat(input.value) < parseFloat(input.min)) {
                input.value = input.min;
            }

            // if (parseFloat(input.value) > parseFloat($('#viewArea').text())) {
            //     toastr.error('Input data reach the max limit of total area!');
            //     input.value = $('#viewArea').text();
            // }
            if (parseFloat(input.value) > parseFloat($('#Remaining').val())) {
                toastr.error('Input data reach the max limit of total area!');
                input.value = $('#Remaining').val();
            }
        }
    }
    /////////////////////////////////////////////////////////////////////////////END: MINIMUM INPUT OF AREA TO BE CONTRACTED/////////////////////////////////////////////////////////////////////////////

    /////////////////////////////////////////////////////////////////////////////START: INITIALIZATION OF MULTIPLE SELECT AND DROPWDOWN SEARCHING CSS/////////////////////////////////////////////////////////////////////////////
    //Initialize Select2 Elements
    $('.select2').select2()

    //Initialize Select2 Elements
    $('.select2bs4').select2({
        theme: 'bootstrap4'
    })
    /////////////////////////////////////////////////////////////////////////////END: INITIALIZATION OF MULTIPLE SELECT AND DROPWDOWN SEARCHING CSS/////////////////////////////////////////////////////////////////////////////

    /////////////////////////////////////////////////////////////////////////////START: PLANTATION SELECTION/////////////////////////////////////////////////////////////////////////////
    function getOptDataForPlantation() {
        var fields = $('.trigger');
        var fieldID = [];
        for (var x in fields) {
            if (fields[x].className != undefined) {
                var y = fields[x].className.split(' ');
                fieldID.push(y[0]);
            }
        }
        for (var j in fieldID) {
            if ($('.' + fieldID[j] + '.trigger')[0].tagName == 'SELECT') {
                var tagClasses = $('.' + fieldID[j] + '.trigger')[0].className.split(' ');
                var optSource = tagClasses[2];
                var optId = tagClasses[0];
                var optName = tagClasses[1];
                var RAWHTML = '<option disabled selected>-</option>';
                getOptDataForPlantationAppend(optSource, optId, optName, RAWHTML);
            }
        }
    }

    function getOptDataForPlantationAppend(optSource, optId, optName, RAWHTML) {
            console.log('data', plantations);
            var data = [];

            for (var i in plantations) {
                data.push({ PlantationCode: plantations[i] });
            }

            for (var j in data) {
                RAWHTML += '<option value="' + data[j].PlantationCode + '">' + data[j].PlantationCode + '</option>';
            }
            $('.' + optSource + '.trigger').html(RAWHTML);

            console.log('Plantation Code', data);
            console.log('RAWHTML', RAWHTML);
            

            // for (var i in plantations) {
            //     RAWHTML += '<option value="' + plantations[i].PlantationCode + '" data-company="' + plantations[i]
            //     .CompanyCode + '">' + plantations[i].PlantationCode + '</option>';
            // }
            // // $('.' + optSource + '.trigger').html(RAWHTML);
            // console.log('0', RAWHTML);
            // console.log('1', $('.' + optSource + '.trigger').html(RAWHTML));

            
        // $.ajax({
        //     url: apiURL('c2673537-85cf-4a28-9cbc-5dad26d9c4a9') + 'FMSmain/getOptDataPlantation',
        //     type: 'post',
        //     dataType: 'json',
        //     data: JSON.stringify({
        //         username: $("#username").val(),
        //         token: $("#token").val(),
        //         dataSource: optSource,
        //         id: optId,
        //         name: optName,
        //         sysapp: sysapp
        //     }),
        //     contentType: "application/json; charset=utf-8",
        //     success: function (data) {
        //         for (var i in data) {
        //             RAWHTML += '<option value="' + data[i].PlantationCode + '" data-company="' + data[i]
        //                 .CompanyCode + '">' + data[i].PlantationCode + '</option>';
        //         }
        //         $('.' + optSource + '.trigger').html(RAWHTML);

        //     },
        //     error: function () {
        //         toastr.error('Error on gathering Options!');
        //         stopLoading();
        //     }
        // })
    }
    $('.trigger').on('change', function () {
        selectedData = $('.trigger').find(':selected').data('company');
        $('#CompanyCode').text(selectedData);
    });
    /////////////////////////////////////////////////////////////////////////////END: PLANTATION SELECTION/////////////////////////////////////////////////////////////////////////////
    //END:

    /////////////////////////////////////////////////////////////////////////////START: SQM CONVERTION INTO HAS/////////////////////////////////////////////////////////////////////////////
    $("#Sqm").keyup(function () {
        const hectares = $('#Sqm').val() / 10000;
        $('#Hectares').val(hectares);
    });

    $("#Hectares").keyup(function () {
        const squareMeters = $('#Hectares').val() * 10000;
        $('#Sqm').val(squareMeters);
    });
    /////////////////////////////////////////////////////////////////////////////END: SQM CONVERTION INTO HAS/////////////////////////////////////////////////////////////////////////////
    
    //START:
    $(".LandownerData").change(function (e) {
        LOcode = $('.LandownerCode option:selected').val();
        console.log('LandownerCode', LOcode);
        $.ajax({
            url: apiURL('c2673537-85cf-4a28-9cbc-5dad26d9c4a9') + 'FMSmain/getSelectedLandownerInfoData',
            type: 'post',
            dataType: 'json',
            data: JSON.stringify({
                LandownerCode: LOcode,
                username: $("#username").val(),
                token: $("#token").val(),
                sysapp: sysapp
            }),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                console.log('Landowner Info', data);

                Landowner = {
                    LOname: data.name,
                    LOcontactnumber: data.ContactNumber
                };

                // show the data of the selected landowner
                $('.infoLandownerName').text(Landowner.LOname);
                $('.infoContactNumber').text(Landowner.LOcontactnumber);
                // remove the data of the previous selected owner
                $('.infoAddress').text('');
                $('.infoLotNumber').text('');
                $('.infoTotalArea').text('');
                $('.infoCoOwner').text('');
                $('.infoCompanyName').text('');


                // is Representative Data
                $("#isRep").change(function (e) {
                    if ($('#isRep').is(":checked") == true) {
                        $('.RepName').prop('disabled',true);
                        $('.RepContactNumber').prop('disabled',true);
                        $('.RepEmail').prop('disabled',true);
                        $('.RepName').val(data.Fullname);
                        $('.RepContactNumber').val(data.ContactNumber);
                        $('.RepEmail').val(data.Email);
                    } else {
                        $(".RepName").removeAttr('disabled');
                        $(".RepContactNumber").removeAttr('disabled');
                        $(".RepEmail").removeAttr('disabled');
                        $('.RepName').val('');
                        $('.RepContactNumber').val('');
                        $('.RepEmail').val('');
                    }
                });
            }
        })
    });
    //END:
</script>