<section>
    <div class="container-fluid">
        <div class="card card-success">
            <div class="card-header">
                <h3 class="card-title">Land Information Form</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <!-- START: LAND INFORMATION -->
                    <div class="container">
                        <div class="col-md-12">
                            <!-- insert here -->
                            <div class="viewCompany">
                                <div class="col-md-12 bg-light headertext">
                                    <h5>Owner Information</h5>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-2">
                                        <label class="form-control form-control-sm border-0">Name :</label>
                                    </div>
                                    <div class="col-sm-12 col-md-10">
                                        <p class="CompanyName form-control form-control-sm form-control-border border-width-2"></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-2">
                                        <label class="form-control form-control-sm border-0">Contact Number :</label>
                                    </div>
                                    <div class="col-sm-12 col-md-10">
                                        <p class="CompanyContactNumber form-control form-control-sm form-control-border border-width-2"></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-2">
                                        <label class="form-control form-control-sm border-0">Address :</label>
                                    </div>
                                    <div class="col-sm-12 col-md-10">
                                        <p class="CompanyAddress form-control form-control-sm form-control-border border-width-2"></p>
                                    </div>
                                </div>
                            </div>
                            <div class="viewIndividual">
                                <div class="col-md-12 bg-light headertext">
                                    <h5>Owner Information</h5>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-2">
                                        <label class="form-control form-control-sm border-0">Name :</label>
                                    </div>
                                    <div class="col-sm-12 col-md-10">
                                        <p class="IdvlFullName form-control form-control-sm form-control-border border-width-2"></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-2">
                                        <label class="form-control form-control-sm border-0">Contact Number :</label>
                                    </div>
                                    <div class="col-sm-12 col-md-10">
                                        <p class="IdvlContactNumber form-control form-control-sm form-control-border border-width-2"></p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 col-md-2">
                                        <label class="form-control form-control-sm border-0">Address :</label>
                                    </div>
                                    <div class="col-sm-12 col-md-10">
                                        <p class="IdvlAddress form-control form-control-sm form-control-border border-width-2"></p>
                                    </div>
                                </div>
                            </div>
                            <!-- <br> -->
                            <div class="container form">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label id="selectOwnerInformation">Landowner</label>
                                            <select class="LandownerCode FullName Landowner form-control form-control-sm triggerlandinformation select2" data-placeholder="Select Landowner" name="LandownermultipleSelect" id="LandownerMultiple">
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Document Presented</label>
                                        <select class="DocumentTypeCode Description DocumentType form-control form-control-sm triggerlandinformation select2" id="DocumentTypeSelect">
                                        </select>
                                    </div>
                                    <div class="col-md-4">
                                        <label>Document Number</label>
                                        <!-- <input class="DocumentNumber form-control form-control-sm triggerlandinformation autoCaps" type="text" placeholder="-" autocomplete="off"> -->
                                        <div class="input-group input-group-sm">
                                            <!-- <input type="text" class="form-control"> -->
                                            <input class="DocumentNumber form-control form-control-sm triggerlandinformation autoCaps" type="text" placeholder="-" autocomplete="off">
                                            <span class="input-group-append">
                                                <button type="button" class="btn btn-primary btn-flat" onclick="verifyButton()">Verify</button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>Lot Number</label>
                                        <input class="LotNumber form-control form-control-sm triggerlandinformation autoCaps" type="text" placeholder="-"  autocomplete="off">
                                    </div>
                                    <!-- <div class="col-md-4">
                                        <label>Total Area <i>(sqm)</i></label>
                                        <input class="Area form-control form-control-sm triggerlandinformation" step='0.01' placeholder='0.00' type="number">
                                    </div> -->
                                    <div class="col-md-4">
                                        <label>Total Area <i>(sqm)</i></label>
                                        <input type="text"
                                            class="Area form-control form-control-sm form-control-border border-width-2 triggerlandinformation"
                                            id="Sqm" step='0.01' min="1" max="1000000" placeholder='0.00' type="number">
                                    </div>
                                    <div class="col-md-4">
                                        <label>Total Area <i>(has)</i></label>
                                        <input type="text"
                                            class="Hectare form-control form-control-sm form-control-border border-width-2 triggercontractinfo"
                                            id="Hectares" step='0.01' min="1" placeholder='0.00' type="number" disabled>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                            <label id="provinceLabel">Province</label>
                                            <select class="provinceCode provinceName Province form-control form-control-sm triggerlandinformation select2" type="text" placeholder="-" id="provinceSelect">
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label id="cityLabel">Municipality/City</label>
                                            <select class="cityCode form-control form-control-sm select2" type="text" placeholder="-" id="citySelect" disabled>
                                            </select>
                                        </div>
                                        <div class="col-md-4">
                                            <label id="barangayLabel">Barangay</label>
                                            <select class="barangayCode form-control form-control-sm select2" style="text-transform: uppercase;" type="text" placeholder="-" id="barangaySelect" disabled>
                                            </select>
                                        </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-md-12 hideCoOwner">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="form-group clearfix">
                                                    <div class="icheck-success d-inline">
                                                        <input type="checkbox" id="checkbox2"  class="checkCoOwners">
                                                        <label for="checkbox2">Co-Owners <em>(optional)</em></label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-10">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <textarea class="CoOwner form-control form-control-sm autoCaps" placeholder="-" autocomplete="off" id="textareaCoOwner" disabled></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="remarksTextArea">
                                    <div class="col-md-12">
                                        <label>Remarks</label>
                                        <textarea class="remarks form-control form-control-sm triggerlandinformation" placeholder="-"></textarea  autocomplete="off">
                                    </div>
                                </div>
                            </div>
                            <!-- insert here: ends here -->
                        </div>
                    </div>
                <!-- END: LAND INFORMATION -->
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</section>
<script>
    var sourceLandInformation = 'LandInformation';
    getOptDataForAddLandInformation();
    getOptDataForAddLandInformationMultiple();

    // hide class upon load
    $('.viewCompany').hide();
    $('.break').hide();

    //START: INITIALIZATION OF MULTIPLE SELECT CSS
    //Initialize Select2 Elements
    $('.select2').select2()

    //Initialize Select2 Elements
    $('.select2bs4').select2({
      theme: 'bootstrap4'
    })
    //END: INITIALIZATION OF MULTIPLE SELECT CSS

    //START: OTHERS SELECT
    $('#remarksTextArea').hide();
    $('#DocumentTypeSelect').change(function () {
        if( $('#DocumentTypeSelect').val() == 4 ) {
            $('#remarksTextArea').show();
        } else {
            $('#remarksTextArea').hide();
        }
    })
    //END: OTHERS SELECT
/////////////////////////////////////////////////////////////////////////////START: FETCH CITY FROM SELECTED PROVINCE/////////////////////////////////////////////////////////////////////////////
    $("#provinceSelect").change(function(e) {
        $('#citySelect').append('<option value="-">loading...</option>');
        var provinceCode = $("#provinceSelect option:selected").val();
        var CITYHTML = '<option value="-" selected disabled>SELECT CITY</option>';
        $.ajax({
            url: apiURL('c2673537-85cf-4a28-9cbc-5dad26d9c4a9') + 'common/getCityByProvince',
            type: 'post',
            dataType: 'json',
            data: JSON.stringify({
                ProvinceCode: provinceCode,
                username: $("#username").val(),
                token: $("#token").val(),
                sysapp: sysapp
            }),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if ( data.length !== 0 ) {
                    for (var i in data) {
                        CITYHTML += '<option value="' + data[i].cityCode + '">' + data[i].cityName + '</option>';
                    }
                    $('#citySelect').html(CITYHTML);
                    $("#citySelect").removeAttr('disabled');					
                } else {
                    // Handle the case when no data is returned
                    console.log('No city data available.');
                }
            }
        })
    });
/////////////////////////////////////////////////////////////////////////////END: FETCH CITY FROM SELECTED PROVINCE/////////////////////////////////////////////////////////////////////////////

/////////////////////////////////////////////////////////////////////////////START: FETCH BARANGAY FROM SELECTED PROVINCE/////////////////////////////////////////////////////////////////////////////
    $("#citySelect").change(function(e) {
        $('#barangaySelect').append('<option value="-">loading...</option>');
        var cityCode = $("#citySelect option:selected").val();
        var BRGYHTML = '<option value="-" selected disabled>SELECT BARANGAY</option>';
        $.ajax({
            url: apiURL('c2673537-85cf-4a28-9cbc-5dad26d9c4a9') + 'common/getBarangayByCity',
            type: 'post',
            dataType: 'json',
            data: JSON.stringify({
                CityCode: cityCode,
                username: $("#username").val(),
                token: $("#token").val(),
                sysapp: sysapp
            }),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if ( data.length !== 0 ) {
                    if ( data.length !== 0 ) {
                        for (var i in data) {
                            BRGYHTML += '<option value="' + data[i].barangayCode + '">' + data[i].barangayName + '</option>';
                        }
                        $('#barangaySelect').html(BRGYHTML);
                        $("#barangaySelect").removeAttr('disabled');					
                    } else {
                        // Handle the case when no data is returned
                        console.log('No barangay data available.');
                    }					
                }
            }
        })
    });
/////////////////////////////////////////////////////////////////////////////END: FETCH BARANGAY FROM SELECTED PROVINCE/////////////////////////////////////////////////////////////////////////////

/////////////////////////////////////////////////////////////////////////////START: HIDE CO-OWNER TEXT AREA////////////////////////////////////////////////////////////////////////////////////////////////
    $('.checkCoOwners').change(function () {
        if ( $('.checkCoOwners').is(":checked") == true ) {
            $("#textareaCoOwner").removeAttr('disabled');
        } else {
            $("#textareaCoOwner").attr('disabled','disabled');
            $("#textareaCoOwner").val('');
        }
    });
/////////////////////////////////////////////////////////////////////////////END: HIDE CO-OWNER TEXT AREA////////////////////////////////////////////////////////////////////////////////////////////////

/////////////////////////////////////////////////////////////////////////////START: VIEW LANDOWNER INFORMATION ////////////////////////////////////////////////////////////////////////////////////////////////
    $(".LandownerCode").change(function (e) {
        LOcode = $('.LandownerCode option:selected').val();
        console.log('LandownerCode', LOcode);
        $.ajax({
            url: apiURL('c2673537-85cf-4a28-9cbc-5dad26d9c4a9') + 'FMSmain/getSelectedLandownerInfoData',
            type: 'post',
            dataType: 'json',
            data: JSON.stringify({
                LandownerCode: LOcode,
                username: $("#username").val(),
                token: $("#token").val(),
                sysapp: sysapp
            }),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                console.log('Landowner Info', data);     

                if ( data.FirstName == null || data.FirstName == '' ) {
                    $('.viewCompany').show();
                    $('.break').show();
                    $('.viewIndividual').hide();
                    $('.CompanyName').text(data.LastName);
                    $('.CompanyContactNumber').text(data.ContactNumber);
                    $('.CompanyAddress').text(data.Address);
                } else {
                    $('.viewIndividual').show();
                    $('.break').show();
                    $('.viewCompany').hide();
                    address = data.provinceName == null ? data.Address : data.barangayName + ', ' + data.cityName + ', ' + data.provinceName 
                    $('.IdvlFullName').text(data.Fullname);
                    $('.IdvlContactNumber').text(data.ContactNumber);
                    $('.IdvlAddress').text(address);
                }
            }
        })
    });
/////////////////////////////////////////////////////////////////////////////START: VIEW LANDOWNER INFORMATION ////////////////////////////////////////////////////////////////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////START: SQM CONVERTION INTO HAS/////////////////////////////////////////////////////////////////////////////
    $("#Sqm").keyup(function () {
        const hectares = $('#Sqm').val() / 10000;
        $('#Hectares').val(hectares);
    });

    $("#Hectares").keyup(function () {
        const squareMeters = $('#Hectares').val() * 10000;
        $('#Sqm').val(squareMeters);
    });

    function verifyButton() {
    var documentNumberInput = $('.DocumentNumber');
    var documentNumber = documentNumberInput.val();
    
    if (documentNumber !== '') {
        $.ajax({
            url: apiURL('c2673537-85cf-4a28-9cbc-5dad26d9c4a9') + 'FMSmain/checkDocumentNumber',
            type: 'post',
            dataType: 'json',
            data: JSON.stringify({
                DocumentNumber: documentNumber,
                username: $("#username").val(),
                token: $("#token").val(),
                sysapp: sysapp
            }),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                console.log('Check Document Number', data.DocumentNumber);
                if (data.DocumentNumber === undefined) {
                    toastr.success('Document Number is available!'); 
                } else {
                    toastr.error('Document Number already exists!'); 
                }
            },
            error: function (xhr, status, error) {
                toastr.error('Error checking Document Number. Please try again later.');
            }
        });
    } else {
        toastr.error('Please enter Document Number!');
    }
}

/////////////////////////////////////////////////////////////////////////////END: SQM CONVERTION INTO HAS/////////////////////////////////////////////////////////////////////////////

</script>