<section>
    <div class="container-fluid">
        <div class="card card-lightblue">
            <div class="card-header">
                <h3 class="card-title">Contract Information</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <!-- START: CONTRACT INFORMATION -->
                <div class="col-md-12">
                    <div class="col-md-12 bg-light headertext">
                        <h5>Basic Information</h5>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <label>Landowner/Company</label>
                            <span class="name form-control form-control-sm form-control-border border-width-2" readonly></span>
                        </div>
                        <div class="col-md-5">
                            <label>Land Information/Document</label>
                            <span class="landdocument form-control form-control-sm form-control-border border-width-2" readonly></span>
                        </div>
                        <div class="col-md-2">
                            <label>Lot Number</label>
                            <span class="landlotnumber form-control form-control-sm form-control-border border-width-2" readonly></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 hideCoOwner">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Co-Owner</label>
                            <textarea class="CoOwner form-control form-control-sm" placeholder="-" autocomplete="off" readonly></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <label>Province</label>
                            <span class="province form-control form-control-sm form-control-border border-width-2" readonly></span>
                        </div>
                        <div class="col-md-4">
                            <label>Municipality/City</label>
                            <span class="city form-control form-control-sm form-control-border border-width-2" readonly></span>
                        </div>
                        <div class="col-md-4">
                            <label>Barangay</label>
                            <span class="barangay form-control form-control-sm form-control-border border-width-2" readonly></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <label>Land Contracted Area<i> (sqm)</i></label>
                            <span class="landcontractedarea form-control form-control-sm  form-control-border border-width-2 trigger" readonly></span>
                        </div>
                        <div class="col-md-4">
                            <label>Plantation</label>
                            <span class="landplantation form-control form-control-sm form-control-border border-width-2" readonly></span>
                        </div>
                        <div class="col-md-4">
                            <label>Company</label>
                            <span class="landcompany form-control form-control-sm  form-control-border border-width-2 trigger" readonly></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 hideRepresentativeLabel">
                    <div class="col-md-12 bg-light headertext">
                        <h5>Representative</h5>
                    </div>
                    <div class="col-md-12 ">
                        <div class="row">
                            <div class="col-sm-4">
                                <label>Name</label>
                                <span class="RepName form-control form-control-sm  form-control-border border-width-2 trigger" readonly></span>
                            </div>
                            <div class="col-sm-4">
                                <label>Contact Number</label>
                                <span class="RepContactNumber form-control form-control-sm  form-control-border border-width-2 trigger" readonly></span>
                            </div>
                            <div class="col-sm-4">
                                <label>Email</label>
                                <span class="RepEmail form-control form-control-sm  form-control-border border-width-2 trigger" readonly></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END: CONTRACT INFORMATION -->
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="card card-lightblue">
            <div class="card-header">
                <h3 class="card-title">Contract Payment</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    @*<button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>*@
                </div>
            </div>
            <div class="card-body">
                <div class="col-md-12">
                    <div class="row">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-4 form-group">
                                    <label>Lease Period</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="far fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                        <input type="text"
                                            class="LeasePeriod form-control form-control-sm float-right triggerdetail"
                                            readonly id="lease_period">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label>Lease Term </label>
                                    <input type="text" disabled
                                        class="LeaseTerm reservationdate form-control form-control-sm float-right triggerdetail"
                                        readonly id="terms">
                                </div>
                                <div class="col-md-4">
                                    <label>Years of Advance Payment</label>
                                    <input class="AdvancePayment form-control form-control-sm triggerdetail"
                                        type="number" readonly Placeholder="Input Number of Year(s)">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label> Start of Payment:</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="far fa-calendar-alt"></i>
                                                </span>
                                            </div>
                                            <input type="text"
                                                class="StartOfPayment reservationdate form-control form-control-sm float-right triggerdetail"
                                                readonly id="reservationdate">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Payment Terms</label>
                                    <input
                                        class="PaymentTerms PaymentTerms PaymentTerms form-control form-control-sm triggerdetail"
                                        readonly type="text">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input hidden type="text" id="StartDate">
                                    <input hidden type="text" id="EndDate">
                                    <input hidden type="text" id="LandContractCode">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div> 

            <div class="card-body">
                <div class="col-md-12">
                    <div class="row">
                        <div class="card-body" style="overflow:auto">
                            <div class="row">
                                <!-- insert table start -->
                                <div class="col-md-12">
                                    <label for="Escalation">Payment Escalation</label>
                                    <table id="tbl_Escalation" class="table table-bordered table-striped table-sm"
                                        style="width:100%">
                                        <thead>
                                            <tr style="text-align:center">
                                                <!-- <th hidden class="Payment_date">Payment_date</th> -->
                                                <th class="date_of_payment">Date</th>
                                                <th class="years">Years</th>
                                                <th class="Rate">Rate</th>
                                                <th class="Num_of_has">Hectares</th>
                                                <th class="Rate_per_year">Annual Rate</th>
                                                <th class="Total_rate">Contract Rate</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tbl_Users-data">
                                        </tbody>
                                    </table>
                                    <tfoot>
                                        <div class="col-md-12">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <label class="labelwidth" style="margin-top: 20px;">Total
                                                        Rental:</label>
                                                    <span class="Total_rental"></span>
                                                </div>
                                                <div class="col-md-12">
                                                    <label class="labelwidth">Advance Payment:</label>
                                                    <span class="advance_payment_amount"></span>
                                                </div>
                                                <div class="col-md-12">
                                                    <label class="labelwidth">Remaining Rental:</label>
                                                    <span class="Remaining_rental"></span>
                                                </div>
                                                <div class="col-md-12">
                                                    <label class="labelwidth">Years Divided:</label>
                                                    <span class="yrsdivided"></span>
                                                </div>
                                                <div class="col-md-12">
                                                    <label class="labelwidth">Gross Annual Rental:</label>
                                                    <span class="Payment_Amount"></span>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </tfoot>
                                </div>
                            </div>
                            <!-- insert table end -->
                        </div>
                    </div>
                </div>
            </div>
             <div class="card-body">
                <div class="col-md-12">
                    <div class="row">
                        <div class="card-body" style="overflow:auto">
                               <div class="row" style="margin-top:40px;">
                                   <!-- insert table start -->
                                   <div class="col-md-12">
                                       <label for="PaymentSched">Payment Schedule</label>
                                       <table id="tbl_PaymentSched" class="table table-bordered table-striped table-sm"
                                           style="width:100%">
                                           <thead>
                                               <tr style="text-align:center">
                                                   <!-- <th hidden class="id">Term</th> -->
                                                   <th class="Payment_date" style="width:160px;">Payment Schedule</th>
                                                   <th class="remarks" style="width:160px;">Status</th>
                                                   <th class="Amount">Gross Annual Rental</th>
                                                   <th class="rpt">RPT</th>
                                                   <th class="withtax">With Holding Tax</th>
                                                   <th class="other">Other Deduction</th>
                                                   <th class="Amount">Net Annual Rental</th>
                                                   <th class="Cv_num">Check Voucher Number</th>
                                                   <th class="Cr_num">CR number</th>
                                                   <th class="Posting_date">Encashment Date</th>
                                                   <!-- <th class="filename">Attachment</th>
                                                   <th class="file hide_column">test</th> -->
                                               </tr>
                                           </thead>
                                           <tbody id="tbl_Users-data">
                                           </tbody>
                                       </table>
                                       <tfoot>
                                           <!-- <button type="button" style="margin:2px;" class="btn btn-success"
                                               onclick="saveData()"> Save</button> -->
                                       </tfoot>
                                   </div>
                                   <!-- insert table end -->
                               </div>
                              
                        </div>
                    </div>
                </div>
            </div>              
            <!-- <div class="card-footer">
                
            </div> -->
        </div>
    </div>
</section>


<script>
    var dataSource = 'ContractMain';
    var dataSourceIdCol = 'LandContractCode';
    var sourceContract = 'ContractMain';
    var dataforsaving = [];
    var dataupload = [];
    initDataTablesPaymentSched();
    initDataTablesEscalation();
    getSysData(dataSource, dataSourceIdCol);
    viewContractInfoData(sourceContract, dataSourceIdCol);
    getPaymentSched();
    getEscalation();
    $('.yrsdivided').prop('disabled', false);

    function initDataTablesPaymentSched() {
        var table = $('#tbl_PaymentSched').DataTable({
            // columnDefs:[
            //     {
            //         targets:[8],
            //         className:"hide_column"
            //     }
            // ],
            language: {
                sSearch: "",
                searchPlaceholder: "Search records"
            },
            selected: true,
            paging: false,
            lengthChange: false,
            searching: false,
            ordering: true,
            info: true,
            autoWidth: false,
            responsive: true,
            lengthMenu: [
                [10, 25, 50, 100],
                ['10 rows', '25 rows', '50 rows', '100 rows']
            ],

        }).buttons().container().appendTo('#tbl_PaymentSched' + '_wrapper .col-md-6:eq(0)');
        $('#tbl_PaymentSched' + '_paginate').css('font-size', 'smaller').css('float', 'right');
        $('#tbl_PaymentSched' + '_filter').css('float', 'right');
    }
    $('#tbl_PaymentSched').on('keyup', '.updatedcell', function () {

        $('#tbl_PaymentSched > tbody > tr').each(function (index) {
            var grossannual = parseFloat($('[data-rowid=' + index + '][data-colid="amount"]').val().replace(/,/g, ''));
            var rpt = parseFloat($('[data-rowid=' + index + '][data-colid="rpt"]').val());
            var withtax = parseFloat($('[data-rowid=' + index + '][data-colid="withtax"]').val());
            var others = parseFloat($('[data-rowid=' + index + '][data-colid="others"]').val());
            // Check for NaN values and set them to 0
            grossannual = isNaN(grossannual) ? 0 : grossannual;
            rpt = isNaN(rpt) ? 0 : rpt;
            withtax = isNaN(withtax) ? 0 : withtax;
            others = isNaN(others) ? 0 : others;
            // Calculate netannual
            var netannual = grossannual + rpt + withtax + others;
            // If rpt, withtax, and others are all 0, set netannual to 0
            if (rpt === 0 && withtax === 0 && others === 0) {
                netannual = 0.00;
            }
            $('[data-rowid=' + index + '][data-colid="netrental"]').val(netannual.toLocaleString());
           
        });

    });
    function initDataTablesEscalation() {
        var table = $('#tbl_Escalation').DataTable({
            language: {
                sSearch: "",
                searchPlaceholder: "Search records"
            },
            selected: true,
            paging: false,
            lengthChange: false,
            searching: false,
            ordering: true,
            info: false,
            autoWidth: false,
            responsive: true,
            lengthMenu: [
                [10, 25, 50, 100],
                ['10 rows', '25 rows', '50 rows', '100 rows']
            ],

        }).buttons().container().appendTo('#tbl_PaymentSched' + '_wrapper .col-md-6:eq(0)');
        $('#tbl_Escalation' + '_paginate').css('font-size', 'smaller').css('float', 'right');
        $('#tbl_Escalation' + '_filter').css('float', 'right');
    }

    function getEscalation() {
        $.ajax({
            url: apiURL('c2673537-85cf-4a28-9cbc-5dad26d9c4a9') + 'FMSmain/getLDMSescalation',
            type: 'post',
            dataType: 'json',
            data: JSON.stringify({
                username: $("#username").val(),
                token: $("#token").val(),
                LandContractCode: $('.selectedid').data('id'),
                sysapp: sysapp
            }),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                console.log('sakpan', data);
                var datarow = [];
                $('#tbl_Escalation').DataTable().clear().draw();
                $('.Total_rental').text(data[0].Rent_Total.toLocaleString());
                $('.advance_payment_amount').text(data[0].AmountOfAdvancePayment.toLocaleString());
                $('.Remaining_rental').text(data[0].Remaining_Rental.toLocaleString());
                $('.yrsdivided').text(data[0].YearsDivided);
                $('.Payment_Amount').text(data[0].Gross_Annual_Payment.toLocaleString());
                for (var i in data) {
                    var dataarr = [];
                    dataarr.push('<div style="text-align:center">' + data[i].TermDate + '</div>');
                    dataarr.push('<div style="text-align:center">' + data[i].Years + '</div>');
                    dataarr.push('<div style="text-align:center">' + data[i].Rate + '</div>');
                    dataarr.push('<div style="text-align:center">' + data[i].Num_of_has + '</div>');
                    dataarr.push('<div style="text-align:center">' + data[i].Rate_per_year + '</div>');
                    dataarr.push('<div style="text-align:center">' + data[i].Total_rate + '</div>');
                    datarow.push(dataarr);
                }
                $('#tbl_Escalation').DataTable().rows.add(datarow).draw();
                // hidedatatablesLoader(sourceContract);
            },
            error: function () {
                toastr.error('Error on Fetching Data!');
                hidedatatablesLoader(sourceContract);
            }
        })
    }

    function getPaymentSched() {
        var headcol = $('#tbl_PaymentSched' + ' thead tr th');
        var colid = [];
        var inputDataCollection = {};
        for (var x in headcol) {
            if (headcol[x].className != undefined) {
                var y = headcol[x].className.split(' ');
                colid.push(y[0]);
            }
        }
        $.ajax({
            url: apiURL('c2673537-85cf-4a28-9cbc-5dad26d9c4a9') + 'FMSmain/getGeneratedSchedule',
            type: 'post',
            dataType: 'json',
            data: JSON.stringify({
                LandContractCode: $('.selectedid').data('id'),
                username: $("#username").val(),
                token: $("#token").val(),
                sysapp: sysapp
            }),
            contentType: "application/json; charset=utf-8",
            success: function (data) {

                var dtToday = new Date();
                var month = dtToday.getMonth() + 1;
                var day = dtToday.getDate();
                var year = dtToday.getFullYear();
                if (month < 10)
                    month = '0' + month.toString();
                if (day < 10)
                    day = '0' + day.toString();
                var maxDate = year + '-' + month + '-' + day;

                var id = 0;
                var tablerow = [];
                $('#LandContractCode').val(data[0].LandContractCode);
                var table = $('#tbl_PaymentSched').DataTable();
                $('#tbl_PaymentSched').DataTable().clear().draw();
                for (var i in data) {
                    var tablearr = [];
                    data[i].id = id++;
                    tablearr.push('<input type="text" disabled style="width: 175px; border:1px; background-color:#e9ecef;"  class="date_end  form-control form-control-sm updatedcell " data-rowid="' + data[i].id + '" data-colid="Payment_date_end" data-payment_date="' + data[i].Payment_date_end + '" value="' + data[i].Payment_date + '">');
                    if (data[i].Posting_date) {
                        console.log('modified by', data[i].Posting_date);
                       tablearr.push('<input readonly style="border:1px; background-color:#e9ecef;" class="remarks form-control form-control-sm" value="' + data[i].remarks + '">');
                        tablearr.push('<input type="text" readonly style="width: 100px; border:1px; background-color:#e9ecef;" class="amount maskAmount updatedcell " data-rowid="' + data[i].id + '" data-colid="amount" value="' + data[i].Amount.toLocaleString() + '">');
                        tablearr.push('<input type="text" readonly style="width: 90px; height:100%;border:1px; background-color:#e9ecef;" class="form-control form-control-sm updatedcell" data-rowid="' + data[i].id + '" data-colid="rpt"  value="' + data[i].rpt + '">');
                        tablearr.push('<input type="text" readonly style="width: 90px; height:100%;border:1px; background-color:#e9ecef;" class="form-control form-control-sm updatedcell" data-rowid="' + data[i].id + '" data-colid="withtax"  value="' + data[i].withtax + '">');
                        tablearr.push('<input type="text" readonly style="width: 90px; height:100%;border:1px; background-color:#e9ecef;" class="form-control form-control-sm updatedcell" data-rowid="' + data[i].id + '" data-colid="others"  value="' + data[i].others + '">');
                        tablearr.push('<input type="text" readonly style="width:90px;border:1px;  background-color:#e9ecef;" class="netrental maskAmount form-control form-control-sm updatedcell unpaid" data-rowid="' + data[i].id + '" data-colid="netrental" value="' + data[i].NetRental.toLocaleString() + '">');
                        tablearr.push('<input type="text" readonly style="width: 90px; height:100%;border:1px; background-color:#e9ecef;" class="cv  form-control form-control-sm updatedcell" data-rowid="' + data[i].id + '" data-colid="Cv_num" value="' + data[i].Cv_num + '">');
                        tablearr.push('<input type="text" readonly style="width: 90px; height:100%;border:1px; background-color:#e9ecef;" class="cr form-control form-control-sm updatedcell" data-rowid="' + data[i].id + '" data-colid="Cr_num" value="' + data[i].Cr_num + '">');
                        tablearr.push('<input type="text" readonly style="width: 100%; height:100%;border:1px; background-color:#e9ecef;" class="datepost form-control form-control-sm updatedcell" data-rowid="' + data[i].id + '" data-colid="Posting_date" value="' + moment(data[i].Posting_date).format("MM/DD/YYYY") + '" >');
                        tablearr.push('<input type="text" disabled style="width: 100%;border:1px; background-color:#e9ecef;">');
                     } else if (data[i].remarks == 'Paid' || data[i].remarks == 'Advance Payment Paid') {
                        tablearr.push('<input readonly style="border:1px; background-color:#e9ecef;" class="remarks updatedcell form-control form-control-sm" data-rowid="' + data[i].id + '" data-colid="remarks"  value="' + data[i].remarks + '">');
                        tablearr.push('<input type="text" readonly style="width: 100px;border:1px;  background-color:#e9ecef;" class="amount maskAmount form-control form-control-sm updatedcell unpaid" data-rowid="' + data[i].id + '" data-colid="amount" value="' + data[i].Amount + '">');
                        tablearr.push('<input type="text"  style="width: 90px; height:100%;border:1px; background-color:#FFFFFF;" class="form-control form-control-sm updatedcell" data-rowid="' + data[i].id + '" data-colid="rpt">');
                        tablearr.push('<input type="text"  style="width: 90px; height:100%;border:1px; background-color:#FFFFFF;" class="form-control form-control-sm updatedcell" data-rowid="' + data[i].id + '" data-colid="withtax">');
                        tablearr.push('<input type="text"  style="width: 90px; height:100%;border:1px; background-color:#FFFFFF;" class="form-control form-control-sm updatedcell" data-rowid="' + data[i].id + '" data-colid="others">');
                        tablearr.push('<input type="text" readonly style="width: 90px;border:1px;  background-color:#e9ecef;" class="netrental maskAmount form-control form-control-sm updatedcell unpaid" data-rowid="' + data[i].id + '" data-colid="netrental" placeholder="0.00">');
                        tablearr.push('<input type="text"  style="width: 90px; height:100%;border:1px; background-color:#FFFFFF;" class="cv  form-control form-control-sm updatedcell" data-rowid="' + data[i].id + '" data-colid="Cv_num">');
                        tablearr.push('<input type="text"  style="width: 90px; height:100%;border:1px; background-color:#FFFFFF;" class="cr form-control form-control-sm updatedcell" data-rowid="' + data[i].id + '" data-colid="Cr_num">');
                        tablearr.push('<input type="date"  style="width: 100%; height:100%;border:1px; background-color:#FFFFFF;" class="datepost txtDate form-control form-control-sm updatedcell" data-rowid="' + data[i].id + '" data-colid="Posting_date" >');
                 } else {
                        tablearr.push('<select style="border:1px; background-color:#FFFFFF; width: 175px;" class="remarks selection updatedcell form-control form-control-sm" data-rowid="' + data[i].id + '"><option disabled selected value="Unpaid">Unpaid</option><option data-remarks="' + data[i].remarks + '" value="Paid">Paid</option></select>');
                        tablearr.push('<input type="text" readonly style="width: 100px;border:1px;  background-color:#e9ecef;" class="amount maskAmount form-control form-control-sm updatedcell unpaid" data-rowid="' + data[i].id + '" data-colid="amount" value="' + data[i].Amount + '">');
                        tablearr.push('<input type="text"  style="width: 90px; height:100%;border:1px; background-color:#FFFFFF;" class="form-control form-control-sm updatedcell" data-rowid="' + data[i].id + '" data-colid="rpt">');
                        tablearr.push('<input type="text"  style="width: 90px; height:100%;border:1px; background-color:#FFFFFF;" class="form-control form-control-sm updatedcell" data-rowid="' + data[i].id + '" data-colid="withtax">');
                        tablearr.push('<input type="text"  style="width: 90px; height:100%;border:1px; background-color:#FFFFFF;" class="form-control form-control-sm updatedcell" data-rowid="' + data[i].id + '" data-colid="others">');
                       tablearr.push('<input type="text" readonly style="width: 90px;border:1px;  background-color:#e9ecef;" class="netrental maskAmount form-control form-control-sm updatedcell unpaid" data-rowid="' + data[i].id + '" data-colid="netrental" placeholder="0.00">');
                        tablearr.push('<input type="text"  style="width: 90px; height:100%;border:1px; background-color:#FFFFFF;" class="cv  form-control form-control-sm updatedcell" data-rowid="' + data[i].id + '" data-colid="Cv_num">');
                        tablearr.push('<input type="text"  style="width: 90px; height:100%;border:1px; background-color:#FFFFFF;" class="cr form-control form-control-sm updatedcell" data-rowid="' + data[i].id + '" data-colid="Cr_num">');
                      tablearr.push('<input type="date"  style="width: 100%; height:100%;border:1px; background-color:#FFFFFF;" class="datepost txtDate form-control form-control-sm updatedcell" data-rowid="' + data[i].id + '" data-colid="Posting_date" >');
                                          
                   }
                    tablerow.push(tablearr);
                }

                $('#tbl_PaymentSched').DataTable().rows.add(tablerow).draw();
                $('.txtDate').attr('max', maxDate);
                $('.selection').select2(); 
                // $('.reservation').daterangepicker({
                //     singleDatePicker: true,
                //     showDropdowns: true,
                //     minYear: 1950,
                //     maxYear: 2500,
                //     maxDate: new Date(),
                //     showAnim: 'slideDown'
                // });
            }
        })
    }

    function viewAttachment(file) {
        window.open('http://uploads.lapanday.com:1263/' + file, 'View', 'width=1200, height=800');
        //  window.open('/F:/LDMS_Attachements/' + file , 'ExampleWindow', 'width=1200, height=800');
    }

    function saveData() {
        if (confirm('Do you want to save changes?')) {
            // var test = $('[data-rowid=' + dataupload[z].rowid + '][data-colid="filename"]').val(dataupload[z].filename);
            for (var x in dataforsaving) {
                if ($('[data-rowid=' + dataforsaving[x] + '][data-colid="file"]').val() == '') {
                    toastr.error("Please add attachement");
                } else if ($('[data-rowid=' + dataforsaving[x] + '][data-colid="Cr_num"]').val() == '') {
                    toastr.error("Please add CR_num");
                } else if ($('[data-rowid=' + dataforsaving[x] + '][data-colid="Cv_num"]').val() == '') {
                    toastr.error("Please add CV_num");
                } else {
                        var selectedValue = $('[data-rowid=' + dataforsaving[x] + '] option:selected').val();
                        var val = '';
                        if (selectedValue === undefined) {
                           val =  $('[data-rowid=' + dataforsaving[x] + '][data-colid="remarks"]').val();
                           console.log($('[data-rowid=' + dataforsaving[x] + '][data-colid="remarks"]').val());
                        }
                        else
                        {
                            val = $('[data-rowid=' + dataforsaving[x] + '] option:selected').val(); 
                            console.log(val);
                        }
                    $.ajax({
                        url: apiURL('c2673537-85cf-4a28-9cbc-5dad26d9c4a9') + 'FMSmain/updatePaymentSchedule',
                        type: 'post',
                        dataType: 'json',
                        data: JSON.stringify({
                            LandContractCode: $('#LandContractCode').val(), // add contract_code value or landinformation code
                            // LandInformationCode:,
                            remarks: val,
                            amount: $('[data-rowid=' + dataforsaving[x] + '][data-colid="amount"]').val(),
                            Cv_num: $('[data-rowid=' + dataforsaving[x] + '][data-colid="Cv_num"]').val(),
                            Cr_num: $('[data-rowid=' + dataforsaving[x] + '][data-colid="Cr_num"]').val(),
                            rpt: $('[data-rowid=' + dataforsaving[x] + '][data-colid="rpt"]').val(),
                            withtax: $('[data-rowid=' + dataforsaving[x] + '][data-colid="withtax"]').val(),
                            others: $('[data-rowid=' + dataforsaving[x] + '][data-colid="others"]').val(),
                            netrental: $('[data-rowid=' + dataforsaving[x] + '][data-colid="netrental"]').val(),
                            date: $('[data-rowid=' + dataforsaving[x] + ']').data('payment_date'),
                            Posting_date: $('[data-rowid=' + dataforsaving[x] + '][data-colid="Posting_date"]').val(),
                            username: $("#username").val(),
                            token: $("#token").val(),
                            sysapp: sysapp
                        }),
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            toastr.success('Data Saved!');
                            hideModal();
                        },
                        error: function () {
                            toastr.error('Error on saving data!');
                            stopLoading();
                        }
                    })
                }
            }
        } else {
            toastr.error('Cancelled!');
        }
    }
    $('#tbl_PaymentSched').on('change', '.updatedcell', function () {
        var table = $('#tbl_PaymentSched').DataTable();
        // console.log(dataforsaving);
        // console.log($(this).data('rowid'));
        if (jQuery.inArray(($(this).data('rowid')), dataforsaving) == -1) {
            dataforsaving.push($(this).data('rowid'));
        }
    });


    // Safe File To Database by dgcastillo
    function saveNewUploadedFile(name, filename, extension, dataSource) {
        var fields = $('.triggerdetail');
        var fieldID = [];
        var inputData = {};
        var inputDataCollection = {};
        inputDataCollection['username'] = $("#username").val();
        inputDataCollection['token'] = $("#token").val();
        inputDataCollection['dataSource'] = dataSource;
        inputDataCollection['sysapp'] = sysapp;
        inputData['Init_Filename'] = name;
        inputData['Sys_Filename'] = filename;
        inputData['extension'] = extension;
        inputData['Sys_AppsId'] = sysapp;
        inputData['route_code'] = $('.pagelink.active').attr("class").split(' ')[1];
        // if (confirm('Save this data?')) {
        inputDataCollection['inputData'] = inputData;

        console.log(inputDataCollection);
        $.ajax({
            url: apiURL('c2673537-85cf-4a28-9cbc-5dad26d9c4a9') + 'Common/FMSattachmentSaveData',
            type: 'post',
            dataType: 'json',
            data: JSON.stringify(inputDataCollection),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data.retval == 1) {
                    // toastr.success('Data added!');
                    $('.triggerdetail').val('');
                } else {
                    toastr.error('Duplicate code!');
                    stopLoading();
                }
                // getSysAllDataUploads();
            },
            error: function () {
                toastr.error('Error on saving data!');
                stopLoading();
            }
        })
        // }
    }

    function viewContractInfoData(sourceContract, filter) {

        startLoading();
        var fields = $('.triggercontractinfoview');
        var fieldID = [];
        for (var x in fields) {
            if (fields[x].className != undefined) {
                var y = fields[x].className.split(' ');
                fieldID.push(y[0]);
            }
        }
        $.ajax({
            url: apiURL('c2673537-85cf-4a28-9cbc-5dad26d9c4a9') + 'Common/getSysData',
            type: 'post',
            dataType: 'json',
            data: JSON.stringify({
                username: $("#username").val(),
                token: $("#token").val(),
                dataSource: sourceContract,
                filter: filter,
                selectedID: $('.selectedid').data('id'),
                sysapp: sysapp
            }),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var LandInformationCode = data.LandInformationCode;
                // var LandContractCode = data.LandContractCode;
                $.ajax({
                    url: apiURL('c2673537-85cf-4a28-9cbc-5dad26d9c4a9') + 'FMSmain/getContractInfoData',
                    type: 'post',
                    dataType: 'json',
                    data: JSON.stringify({
                        data: data,
                        LandInformationCode: LandInformationCode,
                        username: $("#username").val(),
                        token: $("#token").val(),
                        sysapp: sysapp
                    }),
                    contentType: "application/json; charset=utf-8",
                    success: function (viewdata) {
                        viewContract = {
                            contractdata: data,
                            landinformationdata: viewdata
                        };
                        console.log('view data', viewContract);

                        //view contract data
                        $('.name').text(viewContract.contractdata.Fullname);
                        $('.landdocument').text(viewContract.landinformationdata.Document);
                        $('.landlotnumber').text(viewContract.landinformationdata.LotNumber);

                        if (viewContract.landinformationdata.WithCoOwner == true) {
                            $('.hideCoOwner').show();
                            $('.CoOwner').val(viewContract.landinformationdata.CoOwner);
                        } else {
                            $('.hideCoOwner').hide();
                            $('.CoOwner').val('');
                        }

                        if (viewContract.contractdata.RepresentativeName == '') {
                            $('.hideRepresentativeLabel').hide();
                        } else {
                            $('.hideRepresentativeLabel').show();
                            $('.RepName').text(viewContract.contractdata.RepresentativeName);
                            $('.RepContactNumber').text(viewContract.contractdata.RepresentativeContactNumber);
                            $('.RepEmail').text(viewContract.contractdata.RepresentativeEmail);
                        }

                        $('.province').text(viewContract.landinformationdata.provinceName);
                        $('.city').text(viewContract.landinformationdata.cityName);
                        $('.barangay').text(viewContract.landinformationdata.barangayName);
                        $('.landtotalarea').text(viewContract.landinformationdata.Area);
                        $('.landplantation').text(viewContract.contractdata.PlantationCode);
                        $('.landcompany').text(viewContract.contractdata.CompanyCode + ' - ' + viewContract.contractdata.Companyname);
                        $('.landcontractedarea').text(viewContract.contractdata.LandContractedArea);
                    }
                })
                stopLoading();
            },
            error: function () {
                toastr.error('Data gathering error!');
                stopLoading();
            }
        })
    }






////////////////////////////// uploading ///////////////////////

// async function saveUpload() {
    //     var fileInput = $('.file-input');
    //     var dataforsaving = [];
    //     var delay = 2000; // Delay in milliseconds (e.g., 1000ms = 1 second)

    //     for (var i = 0; i < fileInput.length; i++) {
    //         var formData = new FormData();
    //         var file = fileInput[i].files[0];

    //         if (file) {
    //             formData.append('files[]', file, file.name);
    //             formData.append('username', $("#username").val());
    //             formData.append('token', $("#token").val());
    //             formData.append('dataSource', dataSource);
    //             formData.append('sysapp', sysapp);

    //             try {
    //                 await new Promise((resolve) => setTimeout(resolve, delay)); // Delay between requests

    //                 $.ajax({
    //                     url: apiURL('c2673537-85cf-4a28-9cbc-5dad26d9c4a9') + 'Common/FMSattachmentInitUpload',
    //                     type: "POST",
    //                     data: formData,
    //                     processData: false,
    //                     contentType: false,
    //                     success: function (data) {
    //                         for (var j in data) {
    //                             var name = data[j].name;
    //                             var filename = data[j].filename;
    //                             var extension = data[j].extension;
    //                             saveNewUploadedFile(name, filename,extension,dataSource);
    //                             $('#fileupload').val(filename);
    //                             dataforsaving.push(rowid);
    //                             savePayment(filename);
    //                             console.log(rowid);
    //                         }
                             
    //                     },
    //                     error: function () {
    //                         console.log("err");
    //                     }
    //                 });
    //             } catch (error) {
    //                 console.error('Error in processing request:', error);
    //             }
    //         }
    //     }
    // }
  
    //     var fileuploaded = [];
    //     var files = [];
    //     var form = [];
    //     var fileInput = $('.file-input');
    //     // var file = fileInput.files[0];
     
    //     for (var i = 0; i < fileInput.length; i++) {
    //         var formData = new FormData();
    //         var file = fileInput[i].files[0];
    //         var rowid  = $(this).data('rowid');
    //         if(file)
    //         {
    //                  formData.append('files[]', file, file.name);
    //                 formData.append('username', $("#username").val());
    //                 formData.append('token', $("#token").val());
    //                 formData.append('dataSource', dataSource);
    //                 formData.append('sysapp', sysapp);

    //                 $.ajax({
    //                 url: apiURL('c2673537-85cf-4a28-9cbc-5dad26d9c4a9') + 'Common/FMSattachmentInitUpload',
    //                 type: "POST",
    //                 data: formData,
    //                 processData: false,
    //                 contentType: false,
    //                 success: function (data) {
    //                     for (var i in data) {
    //                         var name = data[i].name;
    //                         var filename = data[i].filename;
    //                         var extension = data[i].extension;
    //                         // console.log(dataId, name, filename, extension);
    //                         // saveNewUploadedFile(name, filename,extension,dataSource);
    //                         $('#fileupload').val(filename);
    //                         dataforsaving.push(rowid);
    //                         console.log(dataforsaving);
    //                         // savePayment();
    //                     }
    //                     console.log(rowid);
    //                 },
    //                 error: function () {
    //                     // File upload error handling
    //                     console.log("err");
    //                 }
    //             });  
    //         }
            
    //     }
        
//         for (let j = 0; j < fileuploaded.length; j++) {
//             const test = fileuploaded[j];
//                 setTimeout(function() {
//     // Your API call or other action here
//     $.ajax({
//                     url: apiURL('c2673537-85cf-4a28-9cbc-5dad26d9c4a9') + 'Common/FMSattachmentInitUpload',
//                     type: "POST",
//                     data: test,
//                     processData: false,
//                     contentType: false,
//                     success: function (data) {
//                         console.log(data);
//                         // for (var i in data) {
//                         //     var name = data[i].name;
//                         //     var filename = data[i].filename;
//                         //     var extension = data[i].extension;
//                         //     // console.log(dataId, name, filename, extension);
//                         //     // saveNewUploadedFile(name, filename,extension,dataSource);
//                         //     $('#fileupload').val(filename);
//                         //     dataforsaving.push(rowid);
//                         //     console.log(dataforsaving);
//                         //     // savePayment();
//                         // }
//                         // console.log(rowid);
//                     },
//                     error: function () {
//                         // File upload error handling
//                         console.log("err");
//                     }
//                 });  
// }, 5000);
                
//         }
        



        // var fileuploaded = [];
        // var files = [];
        // var form = [];
        // $('.file-input').each(function (index) {
          
            
        //     var fileInput = this;
        //     var file = fileInput.files[0];
        //     var rowid  = $(this).data('rowid');
        //     if (file) {
        //          console.log(file);
        //         // console.log(index);
        //         var formData = new FormData();
        //         formData.append('files[]', file, file.name);
        //         formData.append('username', $("#username").val());
        //         formData.append('token', $("#token").val());
        //         formData.append('dataSource', dataSource);
        //         formData.append('sysapp', sysapp);
        //         form.push(formData);
                
        //         for (var i in form) {
        //         $.ajax({
        //             url: apiURL('c2673537-85cf-4a28-9cbc-5dad26d9c4a9') + 'Common/FMSattachmentInitUpload',
        //             type: "POST",
        //             data: form[i],
        //             processData: false,
        //             contentType: false,
        //             success: function (data) {
        //                 for (var i in data) {
        //                     var name = data[i].name;
        //                     var filename = data[i].filename;
        //                     var extension = data[i].extension;
        //                     // console.log(dataId, name, filename, extension);
        //                     // saveNewUploadedFile(name, filename,extension,dataSource);
        //                     $('#fileupload').val(filename);
        //                     dataforsaving.push(rowid);
        //                     console.log(dataforsaving);
        //                     // savePayment();
        //                 }
        //                 console.log(rowid);
        //             },
        //             error: function () {
        //                 // File upload error handling
        //                 console.log("err");
        //             }
        //         });  
        //         }
                
        //     }
        // });
       
          


            
        // var upload = [];
    //  $('#tbl_PaymentSched').on('change', '#fileUploader', function (){
        

    //     console.log($(this).data('rowid'));
    //     // Get the selected file
    //     var input = this.files;
    //     // Get the data-id attribute
    //     var dataId = $(this).data('rowid');

    //     var formData = new FormData();
    //     var arrupload = [];

    //     if (input && input.length > 0) {

    //         for (var i = 0; i < input.length; i++) {
    //             // console.log(input[i]);
    //             formData.append("file" + i, input[i]);
    //             arrupload.push(input[i]);
    //         }
    //         console.log(formData);
    //         upload.push(arrupload,dataId);

    //         formData.append('username', $("#username").val());
    //         formData.append('token', $("#token").val());
    //         formData.append('dataSource', dataSource);
    //         formData.append('sysapp', sysapp);
    //     }
    //     console.log(upload);
    //     // $.ajax({
    //     //     url: apiURL('c2673537-85cf-4a28-9cbc-5dad26d9c4a9') + 'Common/FMSattachmentInitUpload',
    //     //     type: "POST",
    //     //     data: formData,
    //     //     processData: false,
    //     //     contentType: false,
    //     //     success: function (data) {
    //     //         for (var i in data) {
    //     //             var name = data[i].name;
    //     //             var filename = data[i].filename;
    //     //             var extension = data[i].extension;
    //     //             console.log(dataId,name, filename, extension);
    //     //             // saveNewUploadedFile(name, filename,extension,dataSource);
    //     //             $('#fileupload').val(filename);
    //     //             dataforsaving.push(dataId);
    //     //             console.log(dataforsaving);
    //     //         }
    //     //         console.log(dataupload);
    //     //     },
    //     //     error: function () {
    //     //         // File upload error handling
    //     //         console.log("err");
    //     //     }
    //     // });
    // });
    //         console.log(rowid);
    //     // Get the selected file
    //         var input = this.files;
    //         // Get the data-id attribute
            
    //         var dataId = rowid;
            
    //         var formData = new FormData();
    //         var arrupload = [];
            
    //         if (input && input.length > 0) {
                
    //             for (var i = 0; i < input.length; i++) {
    //                 // console.log(input[i]);
    //                 formData.append("file" + i, input[i]);
    //                 arrupload.push(input[i]);
    //             }
    //            upload.push(arrupload);
             
    //             formData.append('username', $("#username").val());
    //             formData.append('token', $("#token").val());
    //             formData.append('dataSource' , dataSource);
    //             formData.append('sysapp' , sysapp);
                
    //         }
    //         // $.ajax({
    //         //     url: apiURL('c2673537-85cf-4a28-9cbc-5dad26d9c4a9') + 'Common/FMSattachmentInitUpload',
    //         //     type: "POST",
    //         //     data: formData,
    //         //     processData: false,
    //         //     contentType: false,
    //         //     success: function (data) {
    //         //         for (var i in data) {
    //         //             var name = data[i].name;
    //         //             var filename = data[i].filename;
    //         //             var extension = data[i].extension;
    //         //             console.log(dataId,name, filename, extension);
    //         //             saveNewUploadedFile(name, filename,extension,dataSource);
    //         //             $('#fileupload').val(filename);
    //         //             dataforsaving.push(dataId);
    //         //             console.log(dataforsaving);
    //         //         }
    //         //         console.log(dataupload);
    //         //     },
    //         //     error: function () {
    //         //         // File upload error handling
    //         //         console.log("err");
    //         //     }
    //         // });

    //     };

</script>