<section>
    <div class="container-fluid">
        <div class="card card-lightblue">
            <div class="card-header">
                <h3 class="card-title">Contract Information</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <!-- START: CONTRACT INFORMATION -->
                <div class="col-md-12">
                    <div class="col-md-12 bg-light headertext">
                        <h5>Basic Information</h5>
                    </div>
                    <div class="row">
                        <div class="col-md-5">
                            <label>Landowner/Company</label>
                            <span class="name form-control form-control-sm form-control-border border-width-2" readonly></span>
                        </div>
                        <div class="col-md-5">
                            <label>Land Information/Document</label>
                            <span class="landdocument form-control form-control-sm form-control-border border-width-2" readonly></span>
                        </div>
                        <div class="col-md-2">
                            <label>Lot Number</label>
                            <span class="landlotnumber form-control form-control-sm form-control-border border-width-2" readonly></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 hideCoOwner">
                    <div class="row">
                        <div class="col-md-12">
                            <label>Co-Owner</label>
                            <textarea class="CoOwner form-control form-control-sm" placeholder="-" autocomplete="off" readonly></textarea>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <label>Province</label>
                            <span class="province form-control form-control-sm form-control-border border-width-2" readonly></span>
                        </div>
                        <div class="col-md-4">
                            <label>Municipality/City</label>
                            <span class="city form-control form-control-sm form-control-border border-width-2" readonly></span>
                        </div>
                        <div class="col-md-4">
                            <label>Barangay</label>
                            <span class="barangay form-control form-control-sm form-control-border border-width-2" readonly></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-4">
                            <label>Land Contracted Area<i> (sqm)</i></label>
                            <span class="landcontractedarea form-control form-control-sm  form-control-border border-width-2 trigger" readonly></span>
                        </div>
                        <div class="col-md-4">
                            <label>Plantation</label>
                            <span class="landplantation form-control form-control-sm form-control-border border-width-2" readonly></span>
                        </div>
                        <div class="col-md-4">
                            <label>Company</label>
                            <span class="landcompany form-control form-control-sm  form-control-border border-width-2 trigger" readonly></span>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 hideRepresentativeLabel">
                    <div class="col-md-12 bg-light headertext">
                        <h5>Representative</h5>
                    </div>
                    <div class="col-md-12 ">
                        <div class="row">
                            <div class="col-sm-4">
                                <label>Name</label>
                                <span class="RepName form-control form-control-sm  form-control-border border-width-2 trigger" readonly></span>
                            </div>
                            <div class="col-sm-4">
                                <label>Contact Number</label>
                                <span class="RepContactNumber form-control form-control-sm  form-control-border border-width-2 trigger" readonly></span>
                            </div>
                            <div class="col-sm-4">
                                <label>Email</label>
                                <span class="RepEmail form-control form-control-sm  form-control-border border-width-2 trigger" readonly></span>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END: CONTRACT INFORMATION -->
            </div>
            <!-- /.card-body -->
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="card card-lightblue">
            <div class="card-header">
                <h3 class="card-title">Contract Payment</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    @*<button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>*@
                </div>
            </div>
            <div class="card-body">
                <div class="col-md-12">
                    <div class="row">
                        <div class="card-body">
                            <!-- insert: table starts here -->
                            <div class="row">
                                <div class="col-md-4 form-group">
                                    <label>Lease Period</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="far fa-calendar-alt"></i>
                                            </span>
                                        </div>
                                        <input type="text"
                                            class="LeasePeriod form-control form-control-sm float-right triggerdetail" readonly
                                            id="lease_period">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label>Lease Term </label>
                                    <input type="text" disabled
                                        class="LeaseTerm reservationdate form-control form-control-sm float-right triggerdetail" readonly
                                        id="terms">
                                </div>
                                <div class="col-md-4">
                                    <label>Years of Advance Payment</label>
                                    <input class="AdvancePayment form-control form-control-sm triggerdetail" type="number" readonly
                                        Placeholder="Input Number of Year(s)">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label> Start of Payment:</label>
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                                <span class="input-group-text">
                                                    <i class="far fa-calendar-alt"></i>
                                                </span>
                                            </div>
                                            <input type="text"
                                                class="StartOfPayment reservationdate form-control form-control-sm float-right triggerdetail" readonly
                                                id="reservationdate">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <label>Payment Terms</label>
                                    <input
                                        class="PaymentTerms PaymentTerms PaymentTerms form-control form-control-sm triggerdetail" readonly
                                        type="text">
                                </div>
                            </div>
                            <div class="row">
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <input hidden type="text" id="StartDate">
                                    <input hidden type="text" id="EndDate">
                                    <input hidden type="text" id="LandContractCode">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="card-footer">
                
            </div> -->
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="card card-lightblue">
            <div class="card-header">
                <h3 class="card-title">Contract Payment Schedule</h3>
                <div class="card-tools">
                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                        <i class="fas fa-minus"></i>
                    </button>
                    @*<button type="button" class="btn btn-tool" data-card-widget="remove">
                        <i class="fas fa-times"></i>
                    </button>*@
                </div>
            </div>
            <div class="card-body">
    <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="card-body">
                        <table id="tbl_PaymentSched" class="table table-bordered table-striped table-sm"
                            style="width:100%" data-editpage="pages/masterdata/modalpages/area_update"
                            data-addpage="pages/masterdata/modalpages/area_add">
                            <thead>
                                <tr style="text-align:center">
                                    <!-- <th hidden class="id">Term</th> -->
                                    <th class="Payment_date" style="width:160px;">Payment Schedule</th>
                                    <th class="remarks"  style="width:160px;">Status</th>
                                    <th class="Amount">Rate/Amount</th>
                                    <th class="Cv_num">Check Voucher Number</th>
                                    <th class="Cr_num">CR number</th>
                                    <th class="Posting_date">Date Posted</th>
                                    <th class="filename">Attachment</th>
                                    <th class="file hide_column">test</th>
                                </tr>
                            </thead>
                            <tbody id="tbl_Users-data">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <button type="button" style="margin:2px;" class="btn btn-success" onclick="saveData()">
                        Save</button>
                    <!-- <button type="button" style="margin:2px;" class="btn btn-success" onclick="updatetable()"> Edit</button> -->
                    <!-- <button type="button" style="margin:2px;" class="btn btn-success" onclick="updatetable()">Exit</button> -->
                </div>
            </div>
    </div>
            <!-- <div class="card-footer">
                
            </div> -->
        </div>
    </div>
</section>

<script>
    var dataSource = 'ContractMain';
    var dataSourceIdCol = 'LandContractCode';
    var sourceContract = 'ContractMain';
    var dataforsaving = [];
    var dataupload = [];
    initDataTablesPaymentSched();
    getSysData(dataSource, dataSourceIdCol);
    viewContractInfoData(sourceContract, dataSourceIdCol);
    getPaymentSched();
    function initDataTablesPaymentSched() {
        var table = $('#tbl_PaymentSched').DataTable({
            columnDefs:[
                {
                    targets:[7],
                    className:"hide_column"
                }
            ],
            language: {
                sSearch: "",
                searchPlaceholder: "Search records"
            },
            selected: true,
            paging: false,
            lengthChange: false,
            searching: false,
            ordering: true,
            info: true,
            autoWidth: false,
            responsive: true,
            lengthMenu: [
                [10, 25, 50, 100],
                ['10 rows', '25 rows', '50 rows', '100 rows']
            ],

        }).buttons().container().appendTo('#tbl_PaymentSched' + '_wrapper .col-md-6:eq(0)');
        $('#tbl_PaymentSched' + '_paginate').css('font-size', 'smaller').css('float', 'right');
        $('#tbl_PaymentSched' + '_filter').css('float', 'right');
    }

    function getPaymentSched() {
        var headcol = $('#tbl_PaymentSched' + ' thead tr th');
        var colid = [];
        var inputDataCollection = {};
        for (var x in headcol) {
            if (headcol[x].className != undefined) {
                var y = headcol[x].className.split(' ');
                colid.push(y[0]);
            }
        }
        $.ajax({
            url: apiURL('c2673537-85cf-4a28-9cbc-5dad26d9c4a9') + 'FMSmain/getGeneratedSchedule',
            type: 'post',
            dataType: 'json',
            data: JSON.stringify({
                LandContractCode: $('.selectedid').data('id'),
                username: $("#username").val(),
                token: $("#token").val(),
                sysapp: sysapp
            }),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                var id = 0;
                console.log(data);
                var tablerow = [];
                $('#LandContractCode').val(data[0].LandContractCode);
                 var table = $('#tbl_PaymentSched').DataTable();
  
  // Get the index of the last column
  var lastColumnIndex = table.columns().indexes().length - 1;
  
  // Hide the last column
  table.column(lastColumnIndex).visible(true);
                $('#tbl_PaymentSched').DataTable().clear().draw();
                for (var i in data) {
                    var tablearr = [];
                    data[i].id = id++;
                    tablearr.push('<input type="text" disabled style="width: 100%;border:1px; background-color:#e9ecef;"  class="date_end  form-control form-control-sm updatedcell " data-rowid="' + data[i].id + '" data-colid="Payment_date_end" data-payment_date="' + data[i].Payment_date_end + '" value="' + data[i].Payment_date + '">');
                    if (data[i].remarks == 'Advance Payment Paid' && data[i].Amount != 0 && data[0].Cv_num == null) {
                        // tablearr.push('<input readonly style="border:1px; background-color:#eaeaea;" class="remarks form-control form-control-sm" value="' + data[i].remarks + '">');
                        tablearr.push('<select style="border:1px; background-color:#FFFFFF;" class="remarks updatedcell form-control form-control-sm" data-rowid="' + data[i].id + '"><option disabled selected value="Advance Payment Paid">' + data[i].remarks + '</option></select>');
                        // tablearr.push('<input readonly style="width: 100%;border:1px; background-color:#e9ecef;" class="remarks updatedcell" data-rowid="' + data[i].id + '" value="Advance Payment Paid">');
                        tablearr.push('<input type="text" readonly style="width: 100%;border:1px; background-color:#e9ecef;" class="amount maskAmount updatedcell " data-rowid="' + data[i].id + '" data-colid="amount" value="' + data[i].Amount + '">');
                        tablearr.push('<input type="text"  style="width: 100%; height:100%;border:1px; background-color:#FFFFFF;" class="cv  form-control form-control-sm updatedcell" data-rowid="' + data[i].id + '" data-colid="Cv_num" >');
                        tablearr.push('<input type="text" style="width: 100%; height:100%;border:1px; background-color:#FFFFFF;" class="cr form-control form-control-sm updatedcell" data-rowid="' + data[i].id + '" data-colid="Cr_num" >');
                        tablearr.push('<input type="date"  style="width: 100%; height:100%;border:1px; background-color:#FFFFFF;" class="datepost form-control form-control-sm updatedcell" data-rowid="' + data[i].id + '" data-colid="Posting_date" >');
                    } else if (data[i].remarks == 'Advance Payment Paid' && data[i].Amount == 0) {
                        tablearr.push('<input readonly style="border:1px; background-color:#e9ecef;" class="remarks form-control form-control-sm" value="' + data[i].remarks + '">');
                        tablearr.push('<input type="text" readonly style="width: 100%;border:1px; background-color:#e9ecef; " class="amount maskAmount updatedcell " data-rowid="' + data[i].id + '" data-colid="amount" value="' + data[i].Amount + '">');
                        tablearr.push('<input type="text" readonly  style="width: 100%; height:100%;border:1px;" class="cv  form-control form-control-sm updatedcell" data-rowid="' + data[i].id + '" data-colid="Cv_num">');
                        tablearr.push('<input type="text" readonly style="width: 100%; height:100%;border:1px;" class="cr form-control form-control-sm updatedcell" data-rowid="' + data[i].id + '" data-colid="Cr_num" >');
                        tablearr.push('<input type="text" readonly  style="width: 100%; height:100%;border:1px;" class="datepost form-control form-control-sm updatedcell" data-rowid="' + data[i].id + '" data-colid="Posting_date"  >');
                        tablearr.push('<input readonly style="width: 100%; height:100%;border:1px;" class="Init_Filename form-control form-control-sm updatedcell" data-rowid="' + data[i].id + '" data-colid="filename" type="text" />');
                    }else if(data[i].remarks == 'Advance Payment Paid' && data[0].Cv_num != null)
                    {
                        tablearr.push('<input readonly style="border:1px; background-color:#e9ecef;" class="remarks form-control form-control-sm" value="' + data[i].remarks + '">');
                        tablearr.push('<input type="text"  readonly style="width: 100%;border:1px; background-color:#e9ecef;" class="amount maskAmount updatedcell " data-rowid="' + data[i].id + '" data-colid="amount" value="' + data[i].Amount + '">');
                        tablearr.push('<input type="text" readonly style="width: 100%; height:100%;border:1px; background-color:#e9ecef;" class="cv  form-control form-control-sm updatedcell" data-rowid="' + data[i].id + '" data-colid="Cv_num" value="' + data[i].Cv_num + '">');
                        tablearr.push('<input type="text" readonly style="width: 100%; height:100%;border:1px; background-color:#e9ecef;" class="cr form-control form-control-sm updatedcell" data-rowid="' + data[i].id + '" data-colid="Cr_num" value="' + data[i].Cr_num + '">');
                        tablearr.push('<input type="text" readonly style="width: 100%; height:100%;border:1px; background-color:#e9ecef;" class="datepost form-control form-control-sm updatedcell" data-rowid="' + data[i].id + '" data-colid="Posting_date" value="' + moment(data[i].Posting_date).format("MM/DD/YYYY") + '" >');
                        tablearr.push('<button type="button" class="btnview btn btn-success" onclick="viewAttachment(\'' + data[i].filename + '\')">View Attachment</button >');

                    
                    }else if (data[i].remarks == 'Paid') {
                        tablearr.push('<input readonly style="border:1px; background-color:#e9ecef;" class="remarks updatedcell form-control form-control-sm" data-rowid="' + data[i].id + '" value="' + data[i].remarks + '">');
                        tablearr.push('<input type="text" readonly style="width: 100%;border:1px;  background-color:#e9ecef;" class="amount maskAmount form-control form-control-sm updatedcell unpaid" data-rowid="' + data[i].id + '" data-colid="amount" value="' + data[i].Amount + '">');
                        tablearr.push('<input type="text" readonly style="width: 100%; height:100%;border:1px; background-color:#e9ecef;" class="cv  form-control form-control-sm updatedcell" data-rowid="' + data[i].id + '" data-colid="Cv_num" value="' + data[i].Cv_num + '">');
                        tablearr.push('<input type="text" readonly style="width: 100%; height:100%;border:1px; background-color:#e9ecef;" class="cr form-control form-control-sm updatedcell" data-rowid="' + data[i].id + '" data-colid="Cr_num" value="' + data[i].Cr_num + '" >');
                        tablearr.push('<input type="text" readonly style="width: 100%; height:100%;border:1px; background-color:#e9ecef;" class="datepost form-control form-control-sm updatedcell" data-rowid="' + data[i].id + '" data-colid="Posting_date" value="' + moment(data[i].Posting_date).format("MM/DD/YYYY") + '" >');
                        tablearr.push('<button type="button" class="btnview btn btn-success" onclick="viewAttachment(\'' + data[i].filename + '\')">View Attachment</button >');
                   } else {

                        tablearr.push('<select style="border:1px; background-color:#FFFFFF;" class="remarks updatedcell form-control form-control-sm" data-rowid="' + data[i].id + '"><option disabled selected value="Paid">' + data[i].remarks + '</option><option data-remarks="' + data[i].remarks + '" value="Paid">Paid</option><option value="Unpaid">Unpaid</option></select>');
                        tablearr.push('<input type="text" disabled style="width: 100%;border:1px;  background-color:#e9ecef;" class="amount maskAmount form-control form-control-sm updatedcell unpaid" data-rowid="' + data[i].id + '" data-colid="amount" value="' + data[i].Amount + '">');
                        tablearr.push('<input type="text"  style="width: 100%; height:100%;border:1px; background-color:#FFFFFF;" class="cv  form-control form-control-sm updatedcell" data-rowid="' + data[i].id + '" data-colid="Cv_num">');
                        tablearr.push('<input type="text"  style="width: 100%; height:100%;border:1px; background-color:#FFFFFF;" class="cr form-control form-control-sm updatedcell" data-rowid="' + data[i].id + '" data-colid="Cr_num">');
                        tablearr.push('<input type="date"  style="width: 100%; height:100%;border:1px; background-color:#FFFFFF;" class="datepost form-control form-control-sm updatedcell" data-rowid="' + data[i].id + '" data-colid="Posting_date" >');
                    }
                    // tablearr.push(data[i].modifiedby);
                    // tablearr.push(data[i].modifiedon);
                    // tablearr.push('<input type="text" style="width: 100%;border:1px;" disabled  class="status updatedcell " data-rowid="' + data[i].id + '" data-colid="status" value="' + data[i].status + '">');
                    tablearr.push('<input id="fileUploader"  class="Init_Filename form-control form-control-sm updatedcell" data-rowid="' + data[i].id + '" data-colid="filename" type="file" />');
                    tablearr.push('<input type="text" style="width: 100%; height:100%;border:1px; background-color:#FFFFFF;" class="file form-control form-control-sm updatedcell" id="fileupload"  data-rowid="' + data[i].id + '" data-colid="file" >');
                    tablerow.push(tablearr);
                }
                $('#tbl_PaymentSched').DataTable().rows.add(tablerow).draw();

            }
        })
    }
    function viewAttachment(file)
   {
    window.open('http://uploads.lapanday.com:1263/' + file , 'ExampleWindow', 'width=1200, height=800');
    //  window.open('/F:/LDMS_Attachements/' + file , 'ExampleWindow', 'width=1200, height=800');
   }

    function saveData() {


        if (confirm('Do you want to save changes?')) {
            // var test = $('[data-rowid=' + dataupload[z].rowid + '][data-colid="filename"]').val(dataupload[z].filename);
            for (var x in dataforsaving) {
                if ($('[data-rowid=' + dataforsaving[x] + '][data-colid="file"]').val() == '') {
                    toastr.error("Please add attachement")
                } else {
                    $.ajax({
                        url: apiURL('c2673537-85cf-4a28-9cbc-5dad26d9c4a9') + 'FMSmain/updatePaymentSchedule',
                        type: 'post',
                        dataType: 'json',
                        data: JSON.stringify({
                            LandContractCode: $('#LandContractCode').val(), // add contract_code value or landinformation code
                            // LandInformationCode:,
                            remarks: $('[data-rowid=' + dataforsaving[x] + '] option:selected').val(),
                            amount: $('[data-rowid=' + dataforsaving[x] + '][data-colid="amount"]').val(),
                            Cv_num: $('[data-rowid=' + dataforsaving[x] + '][data-colid="Cv_num"]').val(),
                            Cr_num: $('[data-rowid=' + dataforsaving[x] + '][data-colid="Cr_num"]').val(),
                            date: $('[data-rowid=' + dataforsaving[x] + ']').data('payment_date'),
                            Posting_date: $('[data-rowid=' + dataforsaving[x] + '][data-colid="Posting_date"]').val(),
                            filename: $('[data-rowid=' + dataforsaving[x] + '][data-colid="file"]').val(),
                            username: $("#username").val(),
                            token: $("#token").val(),
                            sysapp: sysapp
                        }),
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            toastr.success('Data Saved!');
                            hideModal();
                        },
                        error: function () {
                            toastr.error('Error on saving data!');
                            stopLoading();
                        }
                    })
                }
                
            }
        } else {
            toastr.error('Cancelled!');

        }

    }
      $('#tbl_PaymentSched').on('change','#fileUploader' ,function() {
        // Get the selected file
            var input = this.files;
            // Get the data-id attribute
            var dataId = $(this).data('rowid');
            console.log(input && input.length > 0);
            if (input && input.length > 0) {
                var formData = new FormData();
                for (var i = 0; i < input.length; i++) {
                    console.log(input[i]);
                    formData.append("file" + i, input[i]);
                }
                formData.append('username', $("#username").val());
                formData.append('token', $("#token").val());
                formData.append('dataSource' , dataSource);
                formData.append('sysapp' , sysapp);
            }
            $.ajax({
                url: apiURL('c2673537-85cf-4a28-9cbc-5dad26d9c4a9') + 'Common/FMSattachmentInitUpload',
                type: "POST",
                data: formData,
                processData: false,
                contentType: false,
                success: function (data) {
                    for (var i in data) {
                        var name = data[i].name;
                        var filename = data[i].filename;
                        var extension = data[i].extension;
                        console.log(dataId,name, filename, extension);
                        saveNewUploadedFile(name, filename,extension,dataSource);
                        $('#fileupload').val(filename);
                        dataforsaving.push(dataId);
                        console.log(dataforsaving);
                    }
                    console.log(dataupload);
                },
                error: function () {
                    // File upload error handling
                    console.log("err");
                }
            });

        });


    $('#tbl_PaymentSched').on('change', '.updatedcell', function () {
        var table = $('#tbl_PaymentSched').DataTable();
        // console.log(dataforsaving);
        // console.log($(this).data('rowid'));
        if (jQuery.inArray(($(this).data('rowid')), dataforsaving) == -1) {
            dataforsaving.push($(this).data('rowid'));
        }
    });

    function saveNewFile(dataSource) {
        var fields = $('.triggerdetail');
        var fieldID = [];
        var name = [];
        var inputData = {};
        var inputDataCollection = {};
        var input = document.getElementById('fileUploader');
        if (input.files && input.files.length > 0) {
            var formData = new FormData();

            for (var i = 0; i < input.files.length; i++) {
                formData.append("file" + i, input.files[i]);
                console.log(input.files[i]);
            }
            formData.append('username', $("#username").val());
            formData.append('token', $("#token").val());
            formData.append('dataSource', dataSource);
            formData.append('sysapp', sysapp);
        }
        if (confirm('Save this data?')) {
            console.log(formData);
            // $.ajax({
            //     url: apiURL('c2673537-85cf-4a28-9cbc-5dad26d9c4a9') + 'Common/FMSattachmentInitUpload',
            //     type: "POST",
            //     data: formData,
            //     processData: false,
            //     contentType: false,
            //     success: function (data) {
            //         for (var i in data) {
            //             var name = data[i].name;
            //             var filename = data[i].filename;
            //             var extension = data[i].extension;
            //             console.log(name, filename, extension);
            //             // saveNewUploadedFile(name, filename,extension,dataSource);
            //         }
            //     },
            //     error: function () {
            //         // File upload error handling
            //         console.log("err");
            //     }
            // })

        }
    }

//END Save File To Directory

// Safe File To Database by dgcastillo

function saveNewUploadedFile(name, filename, extension,dataSource) {
    var fields = $('.triggerdetail');
    var fieldID = [];
    var inputData = {};
    var inputDataCollection = {};
    //var file_name = $('input[type=file]')[0].files;
    inputDataCollection['username'] = $("#username").val();
    inputDataCollection['token'] = $("#token").val();
    inputDataCollection['dataSource'] = dataSource;
    inputDataCollection['sysapp'] = sysapp;
    // inputData['username'] = $("#username").val(),
    //inputData['route_code']  = $('.pagelink.active').data('bcrumbs');
    inputData['Init_Filename'] = name;
    inputData['Sys_Filename'] = filename;
    inputData['extension'] = extension;
    inputData['Sys_AppsId'] = sysapp;
    inputData['route_code'] = $('.pagelink.active').attr("class").split(' ')[1];
    // if (confirm('Save this data?')) {
        inputDataCollection['inputData'] = inputData;

        console.log(inputDataCollection);
        $.ajax({
            url: apiURL('c2673537-85cf-4a28-9cbc-5dad26d9c4a9') + 'Common/FMSattachmentSaveData',
            type: 'post',
            dataType: 'json',
            data: JSON.stringify(inputDataCollection),
            contentType: "application/json; charset=utf-8",
            success: function (data) {
                if (data.retval == 1) {
                    // toastr.success('Data added!');
                    $('.triggerdetail').val('');
                } else {
                    toastr.error('Duplicate code!');
                    stopLoading();
                }
               // getSysAllDataUploads();
            },
            error: function () {
                toastr.error('Error on saving data!');
                stopLoading();
            }
        })
   // }
}
function viewContractInfoData(sourceContract, filter) {

    startLoading();
    var fields = $('.triggercontractinfoview');
    var fieldID = [];
    for (var x in fields) {
        if (fields[x].className != undefined) {
            var y = fields[x].className.split(' ');
            fieldID.push(y[0]);
        }
    }
    $.ajax({
        url: apiURL('c2673537-85cf-4a28-9cbc-5dad26d9c4a9') + 'Common/getSysData',
        type: 'post',
        dataType: 'json',
        data: JSON.stringify({
            username: $("#username").val(),
            token: $("#token").val(),
            dataSource: sourceContract,
            filter: filter,
            selectedID: $('.selectedid').data('id'),
            sysapp: sysapp
        }),
        contentType: "application/json; charset=utf-8",
        success: function (data) {
            var LandInformationCode = data.LandInformationCode;
            // var LandContractCode = data.LandContractCode;
            $.ajax({
                url: apiURL('c2673537-85cf-4a28-9cbc-5dad26d9c4a9') + 'FMSmain/getContractInfoData',
                type: 'post',
                dataType: 'json',
                data: JSON.stringify({
                    data: data,
                    LandInformationCode: LandInformationCode,
                    username: $("#username").val(),
                    token: $("#token").val(),
                    sysapp: sysapp
                }),
                contentType: "application/json; charset=utf-8",
                success: function (viewdata) {
                    viewContract = {
                        contractdata: data,
                        landinformationdata: viewdata    
                    };
                    console.log('view data', viewContract);

                    //view contract data
                    $('.name').text(viewContract.contractdata.Fullname);
                    $('.landdocument').text(viewContract.landinformationdata.Document);
                    $('.landlotnumber').text(viewContract.landinformationdata.LotNumber);
                    
                    if ( viewContract.landinformationdata.WithCoOwner == true ) {
                        $('.hideCoOwner').show();
                        $('.CoOwner').val(viewContract.landinformationdata.CoOwner);
                    } else {
                        $('.hideCoOwner').hide();
                        $('.CoOwner').val('');
                    }

                    if ( viewContract.contractdata.RepresentativeName == '' ) {
                        $('.hideRepresentativeLabel').hide();
                    } else {
                        $('.hideRepresentativeLabel').show();
                        $('.RepName').text(viewContract.contractdata.RepresentativeName);
                        $('.RepContactNumber').text(viewContract.contractdata.RepresentativeContactNumber);
                        $('.RepEmail').text(viewContract.contractdata.RepresentativeEmail);
                    }

                    $('.province').text(viewContract.landinformationdata.provinceName);
                    $('.city').text(viewContract.landinformationdata.cityName);
                    $('.barangay').text(viewContract.landinformationdata.barangayName);
                    $('.landtotalarea').text(viewContract.landinformationdata.Area);
                    $('.landplantation').text(viewContract.contractdata.PlantationCode);
                    $('.landcompany').text(viewContract.contractdata.CompanyCode + ' - ' + viewContract.contractdata.Companyname);
                    $('.landcontractedarea').text(viewContract.contractdata.LandContractedArea);
                }
            })
            stopLoading();
        },
        error: function () {
            toastr.error('Data gathering error!');
            stopLoading();
        }
    })
}
</script>